@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css";

@import 'https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/1.1.0/react-datepicker.css';

@import './settings.css';
@import './common/colors.css';
@import './common/typography.css';

/*
 * Add any global styles here
 */
* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--color-bg);
    font-size: 100%;
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}
    a:hover {
        text-decoration: none;
    }

label {
    font-size: var(--font-medium);
    font-weight: 400;
    margin-top: 7px;
}

div {
    position: relative;
}

.app {
    background-color: var(--color-bg);

    font-family: var(--sourcesanspro);
    font-size: var(--font-normal);
    font-weight: var(--font-regular);
    font-smoothing: antialiased;

    min-height: 100%;
    position: relative;
    /* overflow: hidden; */
}

.content-wrapper {
    position: relative;
    z-index: var(--content-index);
}

object[type='application/gas-events-uni'], object[type='application/gas-events'], object[type='application/gas-events-cef'] {
    display: none;
}