:root {
    --font-tiny: 9px;
    --font-small: 12px;
    --font-medium: 14px;
    --font-normal: 16px;
    --font-large: 18px;
    --font-x-large: 20px;

    --font-light: 300;
    --font-regular: 400;
    --font-semibold: 600;
    --font-bold: 700;
    --font-black: 900;

    --global-radius: 4px;

    --header-mobile-height: 90px;

    --header-height: 75px;
    --sidebar-width: 230px;
    --sidebar-collapse-width: 50px;


    /* indexes */
    --modal-index: 1050;
    --header-index: 1004;
    --nav-index: 1005;
    --admin-nav-index: 1003;
    --content-index: 1002;
    --footer-index: 1001;
    --default-index: 1000;
}

