@import '../common/colors.css';

.dropzone-custom {
    display: block;
    margin: 0 auto 40px;
    position: relative;
}

.dropzone-gallery {
    border: 2px dashed #ddd;
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    text-align: center;
}
    .dropzone-gallery img {
        width: 100%;
    }
    .dropzone-gallery .drop-button {
        background: #f4f4f4 url('../../images/icons/image.png') no-repeat center;
        display: block;
        height: 100%;
        width: 100%;
    }

.upload-banner {
    background: var(--color-white);
    border: 10px solid var(--color-light-green);
    cursor: pointer;
    display: block;
    font-size: 10px;
    font-weight: 700;
    min-height: 150px;
    max-width: 970px;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}
    .upload-banner img {
        width: 100%;
    }

.upload-bannerMobile {
    background: var(--color-white);
    border: 10px solid var(--color-light-green);
    cursor: pointer;
    display: block;
    font-size: 10px;
    font-weight: 700;
    min-height: 220px;
    width: 710px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
    .upload-bannerMobile img {
        width: 100%;
    }

.upload-logo {
    background: var(--color-white);
    border: 10px solid var(--color-light-green);
    border-radius: 150px;
    cursor: pointer;
    display: block;
    font-size: 10px;
    font-weight: 700;
    height: 150px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 150px;
    text-align: center;
}
    .upload-banner .drop-button:before,
    .upload-bannerMobile .drop-button:before,
    .upload-logo .drop-button:before {
        background: url('../../images/icons/upload.png') no-repeat center;
        content: '';
        display: block;
        margin: 20px auto 7px;
        height: 30px;
        width: 35px;
    }
    .upload-logo img {
        left: 50%;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .logo-team img {
        left: 50%;
        position: absolute;
        width: 70%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
.dropzone-preview {
    background-size: contain;
    background-repeat: no-repeat; 
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.dropzone-buttons {
    left: 50%;
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
    .dropzone-buttons button {
        border: 0px;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        font-size: 15px;
        height: 30px;
        line-height: 30px;
        margin: 0 5px;
        padding: 0px;
        text-align: center;
        width: 30px;
        text-transform: uppercase;
    }
    .dropzone-buttons button:hover {
        opacity: 0.8;
    }
    .dropzone-buttons .btn-remove {
        background: var(--color-punch);
        
    }
    .dropzone-buttons .btn-upload {
        background: var(--color-dark-green);
    }

.dropzone-sucess {
    background: url('images/icons/sucess.png') no-repeat;
    background-size: contain;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    /*opacity: 0.9;*/
    position: absolute;
    opacity: 0;
    /*top: 50%;*/
    width: 40px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -moz-animation: cssAnimation 2s ease-in 0s forwards;
    -webkit-animation: cssAnimation 2s ease-in 0s forwards;
    -o-animation: cssAnimation 2s ease-in 0s forwards;
    animation: cssAnimation 2s ease-in 0s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.message {
    left: 50%;
    display: block;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
    .message span {
        background: #fff;
        border-radius: 5px;
        font-size: 13px;
        padding: 5px 10px;
    }

@keyframes cssAnimation {
    0% {
        opacity: 0;
        top: 0%;
    }
    30% {
        opacity: 1;
        top: 50%;
    }
    70% {
        opacity: 1;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 100%;
    }
}
@-webkit-keyframes cssAnimation {
    0% {
        opacity: 0;
        top: 0%;
    }
    30% {
        opacity: 1;
        top: 50%;
    }
    70% {
        opacity: 1;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 100%;
    }
}