@import '../common/colors.css';
@import  '../common/button.css';

.register-header-form-col {
    margin-top: 30px;
}


.admin-form-col {
    float: left;
    margin: 0 2%;
    width: 52%;
}
    .col-md, .col-md-full, .col-md-half, .col-md-threequarter, .col-md-quarter {
        float: left;
    }
    .col-md {
        margin-right: 2%;
    }
    .col-md-full {
        width: 100%;
    }
    .col-md-half {
        width: 49%;
    }
        .col-md-half:nth-child(odd) {
            margin-right: 1%;
        }
        .col-md-half:nth-child(even) {
            margin-left: 1%;
        }

    .col-md-threequarter {
        width: 74%;
    }
        .col-md-threequarter:nth-child(odd) {
            margin-right: 1%;
        }
        .col-md-threequarter:nth-child(even) {
            margin-left: 1%;
        }

    .col-md-quarter {
        margin-left: 1%;
        width: 24%;
    }
        /*.col-md-quarter:nth-child(odd) {
            margin-right: 1%;
        }
        .col-md-quarter:nth-child(even) {
            margin-left: 1%;
        }*/

.field-group {
    background-color: var(--color-white);
    border: #dfdfdf 1px solid;
    border-radius: 10px 10px 10px 10px;
    color: var(--color-dark-grey);
    display: table;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px 10px;
    text-transform: uppercase;
    vertical-align: top;
    width: 100%;
}
    .field-group label {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin: 0px;
        vertical-align: top;
    }
        .field-group label small {
            color: #d6d6d6;
        }
    .field-group input, .field-group select, .field-group textarea {
        background: transparent;
        border: 0px;
        font-size: 18px;
        outline: none;
    }
    .field-group input {
        color: var(--color-lemon-green);
        margin-left: 5px;
        width: 100%;
    }
    .field-group textarea {
        color: var(--color-lemon-green);
        width: 100%;
    }
    .field-group select {
        background: url('../../images/icons/select.png') no-repeat right;
        color: var(--color-dark-grey);
        display: inline-block;
        height: 27px;
        margin-left: 5px;
        padding: 0 2em 0 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }
        .field-group select.full {
            margin-left: 0px;
            width: 100%;
        }
    .check-row {
        display: inline-block;
        margin-bottom: 5px;
        text-transform: none;
        width: 50%;
    }
    .field-group legend {
        display: block;
        width: 100%;
    }
    .check-row input, .check-row label {
        display: inline-block;
    }
    .check-row input {
        vertical-align: top;
        width: 10%;
    }
    .check-row label {
        font-size: 14px;
        line-height: 18px;
        vertical-align: top;
        width: 80%;
    }
    .check-inline {
        display: inline-block;
        margin-right: 5px;
        width: auto;
    }
    .field-group ::-webkit-input-placeholder {
        color: var(--color-dark-grey);
    }
    .field-group :-moz-placeholder {
        color: var(--color-dark-grey);
        opacity: 1;
    }
    .field-group ::-moz-placeholder {
        color: var(--color-dark-grey);
        opacity: 1;
    }
    .field-group :-ms-input-placeholder {
        color: var(--color-dark-grey);
    }
    .field-group .inline-field {
        display: inline-block;
        width: 50px;
    }
    .field-group.facebook {
        border-color: #3b5998;
    }
        .field-group.facebook input {
            color: #3b5998;
        }
        .field-group.facebook ::-webkit-input-placeholder {
            color: #3b5998;
        }
        .field-group.facebook :-moz-placeholder {
            color: #3b5998;
            opacity: 1;
        }
        .field-group.facebook ::-moz-placeholder {
            color: #3b5998;
            opacity: 1;
        }
        .field-group.facebook :-ms-input-placeholder {
            color: #3b5998;
        }
    .field-group.instagram {
        border-color: #7e4dbc;
    }
        .field-group.instagram input {
            color: #7e4dbc;
        }
        .field-group.instagram ::-webkit-input-placeholder {
            color: #7e4dbc;
        }
        .field-group.instagram :-moz-placeholder {
            color: #7e4dbc;
            opacity: 1;
        }
        .field-group.instagram ::-moz-placeholder {
            color: #7e4dbc;
            opacity: 1;
        }
        .field-group.instagram :-ms-input-placeholder {
            color: #7e4dbc;
        }
    .field-group.twitter {
        border-color: #2ca7f3;
    }
        .field-group.twitter input {
            color: #2ca7f3;
        }
        .field-group.twitter ::-webkit-input-placeholder {
            color: #2ca7f3;
        }
        .field-group.twitter :-moz-placeholder {
            color: #2ca7f3;
            opacity: 1;
        }
        .field-group.twitter ::-moz-placeholder {
            color: #2ca7f3;
            opacity: 1;
        }
        .field-group.twitter :-ms-input-placeholder {
            color: #2ca7f3;
        }
    .field-group.googleplus {
        border-color: #dd5043;
    }
        .field-group.googleplus input {
            color: #dd5043;
        }
        .field-group.googleplus ::-webkit-input-placeholder {
            color: #dd5043;
        }
        .field-group.googleplus :-moz-placeholder {
            color: #dd5043;
            opacity: 1;
        }
        .field-group.googleplus ::-moz-placeholder {
            color: #dd5043;
            opacity: 1;
        }
        .field-group.googleplus :-ms-input-placeholder {
            color: #dd5043;
        }
    .field-group .hour {
        display: inline-block;
        width: 50%;
    }

.form-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 30px 0;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
    .form-title .with-border {
        border-top: var(--color-light-green) 1px solid;
        margin-top: 30px;
        padding-top: 40px;
    }
    .form-title .name {
        color: var(--color-light-green);
    }

.required {
    font-size: 18px;
    margin-top: 20px;
}

.funcionamento {
    border-top: var(--color-lemon-green) 1px solid;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 30px;
}
    .funcionamento .col-md:nth-of-type(1), .funcionamento .col-md:nth-of-type(2) {
        width: 23%;
    }
    .funcionamento .col-md:nth-of-type(3), .funcionamento .col-md:nth-of-type(4) {
        width: 18%;
    }
    .funcionamento .col-md:nth-of-type(5) {
        margin-right: 0px;
        width: 10%;
    }

.selectedList {
    margin-top: -20px;
}

.services, .cards {

}
    .services .col-md, .cards .col-md {
        margin-right: 4%;
    }
    .services .col-md:nth-of-type(1), .cards .col-md:nth-of-type(1) {
        width: 76%;
    }
    .services .col-md:nth-of-type(2), .cards .col-md:nth-of-type(2) {
        margin-right: 0px;
        width: 20%;
    }

.message {
    /*border: red 1px solid;*/
    background-color: #e6a6a6;
    border-radius: 15px;
    color: #000;
    line-height: 30px;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
    width: 100%;
}
    .message i {
        font-size: 30px;
        margin-right: 5px;
        vertical-align: top;
    }
    .message strong {
        font-weight: 600;
    }

    .success {
        background-color: transparent;
    }

    .success i {
        color: var(--color-green);
        font-size: 120px;
    }

    .error i {
        color: var(--color-red);
        font-size: 120px;
    }

    .success button, .success a {
        @apply --greenButton;
        display: block;
        font-size: 17px;
        font-weight: 400;
        height: 65px;
        line-height: 65px;
        margin: 0 auto 10px auto;
        width: 90%;
        @media (min-width: 992px) {
            display: inline-block;
            font-size: 20px;
            height: 75px;
            line-height: 75px;
            padding: 0 95px;
            width: auto;
        }
    }

    .error button, .error a {
        @apply --redButton;
        display: block;
        font-size: 17px;
        font-weight: 400;
        height: 65px;
        line-height: 65px;
        margin: 0 auto 10px auto;
        width: 90%;
        @media (min-width: 992px) {
            display: inline-block;
            font-size: 20px;
            height: 75px;
            line-height: 75px;
            padding: 0 95px;
            width: auto;
        }
    }

.button-container {
    text-align: right;
    margin: -10px 0 20px 0;
}

.remove-btn {
    @apply --whiteButton;
    font-size: 14px;
    font-weight: 900;
    height: 30px;
    line-height: 30px;
    margin: 10px 10px 0 0;
    padding: 0 15px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.clear-btn {
    @apply --whiteButton;
    font-size: 21px;
    font-weight: 900;
    height: 70px;
    line-height: 70px;
    margin: 10px 10px 0 0;
    padding: 0 50px;
}
.submit-btn {
    @apply --greenButton;
    font-size: 21px;
    font-weight: 900;
    height: 70px;
    line-height: 70px;
    margin: 10px 0 0 0;
    padding: 0 100px;
}
.add-btn {
    @apply --greenButton;
    background: var(--color-light-green);
    font-size: 50px;
    font-weight: 900;
    height: 59px;
    line-height: 59px;
    margin: 0 0 0 0;
    padding: 0 0;
    width: 100%;
}

.gallery {
    margin-bottom: 20px;
}
    .gallery .col-md {
        margin-bottom: 20px;
        position: relative;
        width: 30%;
    }
    .gallery .col-md:before {
        content:     "";
        display:     block;
        padding-top: 100%; /* initial ratio of 1:1*/
    }
    .gallery .col-md > div {
        bottom: 0px;
        display: block;
        height: 100%;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100%;
    }
    .gallery .col-md:last-child {
        margin-right: 0px;
    }
    .gallery .add-btn {
        height: 100%;
        position: absolute;
        top:      0;
        left:     0;
        bottom:   0;
        right:    0;
    }
    @media (min-width: 992px) {
        .gallery .col-md {
            margin-bottom: 0px;
            position: relative;
            width: 15%;
        }
    }

.recomendation {
    font-size: 12px;
    margin: -30px 0 30px 0;
}

.selected-list {
    margin-top: 20px;
}

input:focus {
    outline: none;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.place-owner {
  background: var(--color-green);
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}
  .place-owner a {
    color: #fff;
    font-weight: bold;
  }
  .place-owner ul {
    padding-left: 10px;
  }
  .place-owner li {
    list-style: circle inside;
    padding-left: 10px;
  }
