@import '../settings.css';
@import '../common/colors.css';

.admin {
    background-color: #f8f8f8;
    padding-bottom: 60px;
    width: 100%;
}
    .admin .admin-nav {
        background: #1e2329;
        height: 150px;
        padding-top: 70px;
        position: fixed;
        width: 100vw;
        z-index: var(--admin-nav-index);
    }
    .admin .admin-content {
        padding-top: 150px;
    }
    .admin .admin-container {
        margin: 0 auto;
        width: 960px;
    }
    .admin .sidebar-menu {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .admin .treeview-menu {
        background-color: var(--color-white);
        display: none;
        position: absolute;
    }
        .admin .treeview-menu > li {
            margin: 0px;
            padding: 0 10px;
        }
            .admin .treeview-menu > li:hover {
                background-color: #efefef;
            }
        .admin .treeview-menu a {
            color: var(--color-grey);
            cursor: pointer;
            display: block;
            font-size: 18px;
            font-weight: 300;
            height: 40px;
            line-height: 40px;
            text-transform: uppercase;
            white-space: nowrap;
        }
        .admin .treeview-menu a:hover {
            text-decoration: none;
        }
        
    .admin .treeview {
        display: inline-block;
        position: relative;
        vertical-align: top;
    }
        .admin .treeview > a {
            color: var(--color-white);
            cursor: pointer;
            display: block;
            font-size: 18px;
            font-weight: 300;
            height: var(--header-height);
            line-height: var(--header-height);
            padding: 0 30px;
            text-transform: uppercase;
            white-space: nowrap;
        }
        .admin .treeview > a:hover {
            opacity: 0.5;
            text-decoration: none;
        }
        .admin .treeview:hover .treeview-menu {
            display: block;
        }
    .admin .active {
        color: var(--color-lemon-green) !important;
    }

@media (min-width: 992px) {
    
}

.welcome {
    font-size: 30px;
    font-weight: 700;
    margin: 200px 0 100px 0;
    text-align: center;
}

.admin-row {
    display: flex;
}

.admin-col-6 {
    flex: 1;
    padding: 0 20px;
}

.admin-list li {
    display: flex;
    padding: 8px;
}
    .admin-list li:nth-child(odd) {
        background-color: #ccc;
    }
    .admin-list li span {
        flex: 1;
    }

.feature-button {
    border: 0px;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    margin: 0 10px 0 0px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.block-button {
    background-color: red;
}

.release-button {
    background-color: green;
}