@import '../common/colors.css';

.pagination {
    display: block;
    margin: 15px 0;
    text-align: center;
    width: 100%;
}
    .pagination button, .pagination ul, .pagination li {
        display: inline-block;
        margin: 0 5px;
    }
    .pagination li a {
        background: var(--color-bg);
        border-radius: 30px;
        color: var(--color-athens-gray);
        cursor: pointer;
        display: block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
    }
        .pagination li a.active {
            background: var(--color-green);
            color: var(--color-white);
        }
        .pagination li a:hover {
            opacity: 0.7;
        }