@import '../common/colors.css';

.group-list {
    margin-bottom: 40px;
    margin-top: 0px;
}
    .group-list ul {
        background: #e1e1e1;
        border: #c7c7c7 2px dashed;
        border-radius: 5px 5px 5px 5px;
        margin-left: 0px;
        padding: 10px 5px 12px 5px;
    }
    .group-list .empty-list {
        width: 100%;
    }
    .group-list li {
        color: #333;
        font-size: 18px;
        text-transform: uppercase;
    }
    .group-list a {
        color: var(--color-grey);
        cursor: pointer;
        font-size: 18px;
        font-weight: 300;
    }
    .group-list strong {
        font-weight: 600;
    }