@import '../settings.css';
@import '../common/colors.css';

.actions { 
    display: block;
    text-align: right;
    width: 100%;
}

.btn-export {
    background-color: var(--color-green);
    border: 0px;
    border-radius: 5px;
    color: var(--color-white);
    display: inline-block;
    margin: -15px 0 15px 0;
    padding: 5px 10px;
}

.admin-table-col {
    float: left;
    margin: 0 2%;
    width: 40%;
}
    .admin-table-col .col-md, .admin-table-col .col-md-full, .admin-table-col .col-md-half {
        float: left;
    }
    .admin-table-col .col-md {
        margin-right: 1%;
    }
    .admin-table-col .col-md-full {
        width: 100%;
    }
    .admin-table-col .col-md-half {
        width: 49%;
    }
        .admin-table-col .col-md-half:nth-child(odd) {
            margin-right: 1%;
        }
        .admin-table-col .col-md-half:nth-child(even) {
            margin-left: 1%;
        }

.table-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 30px 0;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
    .table-title.with-border {
        border-top: var(--color-light-green) 1px solid;
        margin-top: 30px;
        padding-top: 40px;
    }

.box {
    background: #fff;
    border-radius: 10px;
    border: #dfdfdf 1px solid;
    margin-bottom: 20px;
    /*padding: 15px 15px 5px 15px;*/
    position: relative;
    width: 100%;
}

.box-body {
    padding: 15px;
}

.box-footer {
    border-top: rgb(244, 244, 244) 1px solid;
    margin-top: -10px;
    padding-top: 15px;
}

.box-body {
    width: 100%;
    padding: 10px;
}

.table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

.table-bordered {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(244, 244, 244);
}
    .table-bordered tbody tr:hover {
        background-color: #efefef;
    }

    .table-bordered th {
        font-weight: 700;
        text-transform: uppercase;
    }

    .table-bordered th, .table-bordered td {
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(244, 244, 244);
        font-size: 15px;
        line-height: 1.42857143;
        padding: 8px;
        vertical-align: top;
        text-align: left;
    }
    .table-bordered .user-email, .table-bordered .user-name, .table-bordered .table-link {
        color: var(--color-dodger-blue);
        font-weight: 700;
        vertical-align: top;
    }
        .table-bordered .user-email figure,
        .table-bordered .user-name figure,
        .table-bordered .table-link figure {
            display: inline-block;
            margin: 5px;
            overflow: hidden;
            vertical-align: top;
        }
            .table-bordered .user-email figure img,
            .table-bordered .user-name figure img,
            .table-bordered .table-link figure img {
                width: 100%;
            }

        .table-bordered .table-link .table-actions {
            color: #999;
            display: table-cell;
            flex: 1;
            font-weight: 400;
            line-height: 22px;
            margin-left: 10px;
        }
        .table-bordered .table-link a {
            cursor: pointer;
            font-weight: 400;
            margin: 0px 2px;
        }
            .table-bordered .table-link a.edit-link {
                /*color: var(--color-dodger-blue);*/
                background: url('../../images/icons/edit@2x.png') no-repeat;
                background-size: contain;
                display: inline-block;
                height: 14px;
                font-size: 1px;
                margin-right: 5px;
                overflow: hidden;
                text-indent: 100%;
                width: 14px;
            }
            .table-bordered .table-link a.delete-link {
                /*color: #ff0000;*/
                background: url('../../images/icons/clear@2x.png') no-repeat;
                background-size: contain;
                float: right;
                height: 14px;
                font-size: 1px;
                margin-top: 3px;
                overflow: hidden;
                text-indent: 100%;
                width: 14px;
            }
            .table-bordered .table-link a:first-of-type {
                margin-left: 0px;
            }
            .table-first-column {
                display: flex;
            }

        .table-bordered .table-link:hover span {
            display: inline-block;
        }
    .table-bordered .table-link .logo {
        margin-right: 10px;
        width: 40px;
    }
    .table-bordered .table-link span {
        margin-left: 10px;
    }

.table-header {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
    .table-header label {
        font-size: 12px;
        font-weight: normal;
        margin-right: 5px;
    }

.table-suggestion tr:nth-child(even) {
    background: #fafafa;
}

.text-center {
    text-align: center !important;
}

.btn-approve, .btn-disapprove {
    background: transparent;
    border: 0px;
    font-size: 20px;
}

.btn-approve {
    color: var(--color-green);
}

.btn-disapprove {
    color: var(--color-red);
}

.pagination {
    margin-top: 10px;
    width: 100%;
}