@import '../common/typography.css';

.admin-title {
    background-color: #1e2329;
    color: #f8f8f8;
    margin-bottom: 60px;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
    .admin-title h1 {
        font-family: var(--sourcesanspro);
        font-size: 36px;
        font-weight: 700;
    }