@import './colors.css';

:root {
    --button {
        /*composes: small from './typography.css';*/

        display: block;
        padding: 0.75rem 1.25rem;
        width: 100%;

        text-decoration: none;
        text-align: center;

        border-radius: 4px;
        border-style: solid;
        border-width: 2px;

        cursor: pointer;
        transition: 0.1s background-color ease;
    }

    --greenButton {
        background: #5fa228; /* Old browsers */
        background: -moz-linear-gradient(left,  #5fa228 0%, #91bf49 30%, #91bf49 85%, #5ea127 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #5fa228 0%,#91bf49 30%,#91bf49 85%,#5ea127 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #5fa228 0%,#91bf49 30%,#91bf49 85%,#5ea127 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        border: 0px;
        border-radius: 10px 10px 10px 10px;
        color: var(--color-white);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa228', endColorstr='#5ea127',GradientType=1 ); /* IE6-9 */

        text-align: center;
        text-transform: uppercase;
        &:hover {
            color: var(--color-white);
        }
    }

    --redButton {
        background: #de5549; /* Old browsers */
        background: -moz-linear-gradient(left,  #de5549 0%, #cf2e28 30%, #cf2e28 85%, #de5549 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #de5549 0%,#cf2e28 30%,#cf2e28 85%,#de5549 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #de5549 0%,#cf2e28 30%,#cf2e28 85%,#de5549 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        border: 0px;
        border-radius: 10px 10px 10px 10px;
        color: var(--color-white);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de5549', endColorstr='#de5549',GradientType=1 ); /* IE6-9 */

        text-align: center;
        text-transform: uppercase;
        &:hover {
            color: var(--color-white);
        }
    }

    --blueButton {
        background: #3b5998; /* Old browsers */
        background: -moz-linear-gradient(left,  #3b5998 0%, #21326b 30%, #21326b 85%, #3b5998 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #3b5998 0%,#21326b 30%,#21326b 85%,#3b5998 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #3b5998 0%,#21326b 30%,#21326b 85%,#3b5998 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        border: 0px;
        border-radius: 10px 10px 10px 10px;
        color: var(--color-white);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#3b5998',GradientType=1 ); /* IE6-9 */

        text-align: center;
        text-transform: uppercase;
        &:hover {
            color: var(--color-white);
        }
    }

    --whiteButton {
        background: #fff; /* Old browsers */

        border: 0px;
        border: #d6d6d6 1px solid;
        border-radius: 10px 10px 10px 10px;
        color: #313131;

        text-align: center;
        text-transform: uppercase;
        &:hover {
            color: #313131;
        }
    }
}

