:root {
    --color-dodger-blue: #2196F3;
    --color-salem: #0F9D58;
    --color-darker-salem: #0b6e3e;
    --color-punch: #db4437;
    --color-loblolly: #c3c8ce;
    --color-limed-spruce: #333f48;
    --color-mercury: #e3e3e3;
    --color-bombay: #b4bac1;
    --color-crimson: #ed193a;

    --color-bg: #ccc;
    --color-black: #000;
    --color-white: #fff;
    --color-athens-gray: #313131;
    --color-grey: #1a1f23;
    --color-dark-grey: #1e2329;
    --color-lemon-green: #91be47;
    --color-light-green: #91bf49;
    --color-green: #8fc03f;
    --color-green-even: #b4e366;
    --color-dark-green: #6a913d;
    --color-red: #dd5043;
    --color-dark-blue: #1a1f24;
}
