
.botecos {
    background: url('../../images/icons/botecos.png') no-repeat center;
}

.calendar {
    background: url('../../images/icons/calendar.png') no-repeat center;
}

.championship {
    background: url('../../images/icons/championship.png') no-repeat center;
}

.championships {
    background: url('../../images/icons/championships.png') no-repeat center;
}

.games {
    background: url('../../images/icons/games.png') no-repeat center;
}

.mail {
    background: url('../../images/icons/mail.png') no-repeat center;
}

.place {
    background: url('../../images/icons/place.png') no-repeat center;
}

.register {
    background: url('../../images/icons/register.png') no-repeat center;
}

.teams {
    background: url('../../images/icons/teams.png') no-repeat center;
}

.checked {
    background: url('../../images/icons/checked-symbol-white.png') no-repeat center;
}

.icon {
    background-size: contain;
    display: inline-block;
    vertical-align: top;
}

.icon-lg {
    height: 15px;
    width: 15px;
    @media (min-width: 992px) {
        height: 20px;
        width: 20px;
    }
}

.icon-2x {
    height: 30px;
    width: 30px;
    @media (min-width: 992px) {
        height: 40px;
        width: 40px;
    }
}

.icon-3x {
    height: 45px;
    width: 45px;
    @media (min-width: 992px) {
        height: 50px;
        width: 50px;
    }
}