@import './colors.css';

.input {
    /*composes: normal from './typography.css';*/
    padding: 0.75rem 1rem;
    border: 2px solid var(--color-loblolly);
    border-radius: 4px;
    width: 100%;

    background-color: var(--color-white);
    color: var(--color-limed-spruce);
    margin-bottom: 0.75rem;
}