@import '../settings.css';


.concept {
    background: url('../../images/bg/concept@2x.jpg') no-repeat;
    background-size: cover;
    padding-top: var(--header-height);
    @media (min-width: 992px) {
        background: url('../../images/bg/concept.jpg') no-repeat top;
    }
}

.centerX {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.centerY {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centerXY {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-index {
    z-index: 1003;
}

.body-index {
    z-index: 1002;
}

.footer-index {
    z-index: 1001;
}

.index {
    z-index: 1000;
}