@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import '../settings.css';

:root {
    --sourcesanspro: 'Source Sans Pro', sans-serif;
    --robotoslab: 'Roboto Slab', sans-serif;

    --heading {
        font-family: var(--sourcesanspro);
        font-size: var(--font-x-large);
        font-weight: 700;

        line-height: 48px;
    }

    --subheading {
        font-family: var(--sourcesanspro);
        font-size: var(--font-large);
        font-weight: 700;

        line-height: 24px;
    }

    --normal {
        font-family: var(--sourcesanspro);
        font-size: var(--font-normal);
        font-weight: 400;

        line-height: 24px;
    }

    --small {
        font-family: var(--sourcesanspro);
        font-size: var(--font-small);
        font-weight: 400;

        line-height: 16px;
    }

    --tiny {
        font-family: var(--sourcesanspro);
        font-size: var(--font-tiny);
        font-weight: 400;

        line-height: 12px;
    }
}