.banners {
  display: none;
  margin: 0 auto;
  max-width: 970px;
  padding: 20px 0 20px;
  width: 100%;
}
  .banners.initialized {
    display: block;
  }

.banners img {
  width: 100%;
}

.banners-carousel:after {
  background-color: #000;
  bottom: -2px;
  color: #fff;
  content: 'PUBLICIDADE';
  font-size: 12px;
  padding: 5px 20px;
  position: absolute;
  right: 0px;
}

.dotslist li {
  display: inline-block;
  margin-right: 10px;
}

.dotslist button {
  background-color: #000;
  border: 0px;
  height: 7px;
  width: 50px;
  font-size: 0px;
  position: relative;
  text-indent: -6000px;
}

@media (min-width: 992px) {
  .banners {
    padding: 100px 0 0;
  }

  .banners-carousel:after {
    background-color: #fff;
    color: #000;
    font-size: 10px;
  }
}