@import '../common/colors.css';
@import  '../common/button.css';

.bg-container {
  margin: 0 20px;
}

  .bg-container .bg-wrapper:first-of-type {
    margin-right: 20px;
  }
  .bg-container .bg-wrapper:last-of-type {
    margin-left: 20px;
  }

.bg-new-container {
  display: flex;
  flex-wrap: wrap;
}

.add-container {
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.bg-wrapper {
  border: 2px dashed #ddd;
  border-radius: 5px;
  display: flex;
  flex: 1;
  padding: 15px;
}

.submit-btn {
  @apply --greenButton;
  background: var(--color-light-green);
  font-size: 20px;
  font-weight: 900;
  height: 59px;
  margin: 0 0 0 0;
  padding: 10px 20px;
}

.bg-dropzone {
  width: 100%;
}

.drop-text {
  margin: 60px 0;
  text-align: center;
  text-transform: uppercase;
}

.dropzone-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dropzone-preview-item {
  background: #fff;
  border-radius: 10px;
  display: block;
  margin: 10px;
  padding: 10px;
  width: 150px;
}

.dropzone-preview-item img {
  width: 100%;
}

.btn-remove {
  background: var(--color-punch);
}

.dropzone-buttons {
  left: 50%;
  position: absolute;
  top: 85%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
  .bg-table-td button,
  .dropzone-buttons button {
    border: 0px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    padding: 0px;
    text-align: center;
    width: 30px;
    text-transform: uppercase;
  }
  .dropzone-buttons button:hover {
    opacity: 0.8;
  }


.bg-thumb {
  height: 100px;
  display: block;
  margin: 0 auto;
  width: 100px;
}

  .bg-thumb img {
    width: 100%;
  }

.bg-table-td,
.bg-table-th {
  text-align: center;
}

.bg-table-td {
  padding: 10px;
}
  .bg-table-td  img {
    text-align: center;
  }