@import '../common/typography.css';
@import '../common/colors.css';
@import '../settings.css';

.championships {
    background: url('../../images/bg/championships@2x.jpg') no-repeat;
    background-size: 100%;
    padding-top: 75px;
}
@media (min-width: 992px) {
    .championships {
        background: #fff url('../../images/bg/championships.jpg') no-repeat;
        background-size: 100%;
    }
}
    .championships .filter {
        background: #fff;
        border-radius: 10px;
        color: #000;
        display: block;
        margin: 125px 10% 0 10%;
    }
    .championships .list {
        margin-top: 0px;
    }


.championship {
    background: #fff url('../../images/bg/championship@2x.jpg') no-repeat;
    background-size: 100%;
}
@media (min-width: 992px) {
    .championship {
        background: #fff url('../../images/bg/championship.jpg') no-repeat;
        background-size: 100%;
    }
}
    .championship .championship-content {
        /*padding-bottom: 30px;*/
        padding-top: 75px;
        position: relative;
        z-index: 2;
    }
    .championship .championship-logo-lg {
        border-radius: 50%;
        display: block;
        margin: 25px 0 30px 25%;
        /*padding: 20px 0;*/
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 50%;
    }
    @media (min-width: 992px) {
        .championship .championship-logo-lg {
            margin: 50px auto 70px;
            width: 350px;
        }
    }
        .championship .championship-logo-lg:before {
            border-radius: 100%;
            content: "";
            display: block;
            height: 50%;
            left: 50%;
            position: absolute;
            top: 70%;
            width: 70%;
            z-index: 1;
            -webkit-box-shadow: 0px 0px 38px 10px rgba(255,255,255,0.5);
            -moz-box-shadow: 0px 0px 38px 10px rgba(255,255,255,0.5);
            box-shadow: 0px 0px 38px 10px rgba(255,255,255,0.5);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .championship .championship-logo-lg img {
            width: 100%;
            position: relative;
            z-index: 2;
        }

    .championship .championship-name {
        border-radius: 15px 15px 0 0;
        display: block;
        margin-left: 2.5%;
        padding: 30px 10px;
        position: relative;
        overflow: hidden;
        width: 95%;
        text-align: center;
    }
    @media (min-width: 992px) {
        .championship .championship-name {
            background: #1e2329;
            border-radius: 0px 0px 0px 0px;
            margin-left: 0px;
            width: 100%;
        }
    }
        .championship .championship-name:before {
            background: url('../../images/bg/home-teams-carousel.jpg') no-repeat;
            background-size: cover;
            bottom: 0px;
            content: '';
            display: block;
            height: 100%;
            left: 0px;
            position: absolute;
            opacity: 0.95;
            right: 0px;
            width: 100%;
            z-index: 1;
        }
        .championship .championship-name h1 {
            color: #fff;
            font-size: 24px;
            font-style: italic;
            font-weight: 500;
            position: relative;
            z-index: 2;
        }
        @media (min-width: 992px) {
            .championship .championship-name:before {
                display: none;
            }
            .championship .championship-name h1 {
                font-size: 30px;
            }
        }
    .championship .championship-box {
        background-color: rgba(255, 255, 255, 0.9);
        /*border-radius: 0 0 15px 15px;*/
        padding: 30px 12px 30px 12px;
        margin-left: 2.5%;
        width: 95%;
        text-align: center;
    }
        .championship .championship-box h3 {
            font-size: 18px;
            font-weight: 400;
            margin: 0 0 10px 0;
            text-align: center;
        }
        .championship .championship-box .initial-date, .final-date {
            background: #1e2329;
            border-radius: 70px;
            color: #fff;
            display: inline-block;
            font-size: 30px;
            font-weight: 700;
            height: 70px;
            line-height: 20px;
            position: relative;
            width: 70px;
            text-align: center;
            vertical-align: top;
        }
        .championship .championship-box .date-between {
            background: url('../../images/icons/arrow-date.png') no-repeat center;
            background-size: 65%;
            display: inline-block;
            font-size: 1px;
            line-height: 1px;
            height: 70px;
            overflow: hidden;
            width: 70px;
            text-indent: 100%;
            vertical-align: top;
        }
        .championship .championship-box small {
            display: block;
            font-size: 12px;
            width: 100%;
        }
        .championship .championship-box span {
            display: block;
            margin-top: 15px;
        }
    .championship .championship-status {
        border: #1e2329 1px solid;
        border-radius: 10px;
        display: block;
        margin: 30px 0 15px 0;
        padding: 10px 0;
    }
    @media (min-width: 992px) {
        .championship .championship-status {
            margin: 30px auto 15px;
            width: 320px;
        }
    }
        .championship .championship-status .active {
            color: #6a913d;
            text-transform: uppercase;
        }