@import '../common/typography.css';
@import '../common/colors.css';
@import '../settings.css';

.filter-date {
    background: var(--color-white) url('../../images/icons/select.png') no-repeat 99% 5px;
    display: inline-block;
    margin: 0 1%;
    position: relative;
    width: 100%;
}
    .filter-date > div {
        display: block;
        padding-right: 7px;
        width: 100%;
    }
    .filter-date button {
        background-color: transparent;
        border: 0px;
    }
    @media (min-width: 992px) {
        .filter-date {
            font-size: 18px;
        }
        .filter-date button {
            padding: 0 0;
        }
    }


.filter {
    display: inline-block;
    margin: 0 1%;
    position: relative;
    width: 48%;
    @media (min-width: 992px) {
        font-size: 18px;
    }
}
    .filter > div {
        width: 100%;
    }
    .filter button {
        background: #fff;
        border: 0px;
        border-radius: 10px 10px 10px 10px;
        color: #313131;
        cursor: pointer;
        display: block;
        font-size: 12px;
        outline: none;
        padding: 10px 0;
        position: relative;
        text-transform: uppercase;
        width: 100%;
        @media (min-width: 992px) {
            font-size: 18px;
            padding: 15px 0;
        }
    }
        .filter button:after {
            background: transparent;
            border-right: 2px #c2c4c6 solid;
            border-bottom: 2px #c2c4c6 solid;
            content: '';
            display: inline-block;
            height: 12px;
            margin-left: 7px;
            position: relative;
            top: -3px;
            width: 12px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    .filter i {
        margin-top: 3px;
        margin-right: 5px;
    }
    .filter .filter-menu {
        background: #fff;
        /*border-radius: 10px 10px 10px 10px;*/
        display: none;
        left: 5%;
        margin-top: 1px;
        overflow: hidden;
        position: absolute;
        width: 90%;
        text-align: center;
        z-index: 10;
    }
        .filter .filter-menu ul {
            margin: 0px;
            padding: 0px;
        }
        .filter .filter-menu li:hover {
            background-color: #dedede;
        }
        .filter .filter-menu .active {
            background: var(--color-lemon-green);
        }
        .filter .filter-menu a {
            color: #313131;
            cursor: pointer;
            display: block;
            line-height: 16px;
            padding: 8px 10px;
            text-transform: uppercase;
            width: 100%;
        }
    .filter.open .filter-menu{
        display: block;
    }
    .filter.open button{
        background-color: var(--color-lemon-green);
    }

.championship-filter {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin: 165px auto 0;
    width: 100%;
    z-index: 1000;
    @media (min-width: 992px) {
        left: 50%;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-top: 0px;
        width: 25%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.championship-filter.home {
    /*background: #272d35;*/
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px auto 0;
    width: 100%;
    z-index: 101;
    @media (min-width: 992px) {
        left: 50%;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-top: 0;
        width: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
    .championship-filter.home button {
        background: transparent;
        color: var(--color-white);
    }

.country-filter {
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 30px;
    margin-top: 125px;
    width: 100%;
    @media (min-width: 992px) {
        margin-bottom: 46px;
        margin-left: 55%;
        margin-top: 55px;
        width: 15%;
    }
}

.city-filter .filter-menu {
    left: -100%;
    width: 200%;
    z-index: 12;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    @media (min-width: 992px) {
        left: -100%;
        width: 300%;
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}

.game-filter.city-filter .filter-menu {
    left: -50%;
    @media (min-width: 992px) {
        left: -100%;
    }
}

.city-filter .filter-menu li {
    display: inline-block;
    width: 100%;
    @media (min-width: 992px) {
        width: 100%;
    }
}

.city-filter.place .filter-menu {
    /*left: -100%;*/
    left: 0px;
    overflow: hidden;
    width: 200%;
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    transform: translateX(-25%);
    @media (min-width: 992px) {
        left: -100%;
        width: 300%;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.home-city-filter {
    margin: 0 5%;
    position: relative;
    width: 90%;
    z-index: 10000;
}
@media (min-width: 992px) {
    .home-city-filter {
        margin: 0 0;
        width: 50%;
    }
}

.home-city-filter button {
    padding: 10px 0;
}
@media (min-width: 992px) {
    .home-city-filter button {
        text-align: left;
    }
    .home-city-filter button i {
        margin-left: 10px;
    }
    .home-city-filter button:after {
        float: right;
        margin-right: 10px;
        margin-top: 6px;
    }
}

.home-city-filter .filter-menu {
    left: 0%;
    width: 100%;
    z-index: 12;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
@media (min-width: 992px) {
    .home-city-filter .filter-menu {
        left: -200%;
        width: 300%;
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}