@import '../common/typography.css';
@import '../common/colors.css';
@import '../settings.css';
@import '../common/button.css';

.footer {
    background: #fff;
    padding-top: 30px;
}
    .no-space {
        padding-top: 0px;
    }
    @media (min-width: 992px) {
        .footer {
            background: #f8f8f8;
        }
    }
    .footer .register-ad-title {
        color: #8fc03f;
        font-size: 25px;
        font-weight: 100;
        margin: 0 0 0 20px;
        text-align: left;
        text-transform: uppercase;
    }
        .footer .register-ad-title strong {
            font-size: 20px;
            font-weight: 900;
        }
    .footer .footer-register-image {
        width: 100%;
    }
    @media (min-width: 992px) {
        .footer .register-ad-title {
            margin: 0 auto;
            width: 960px;
        }
            .footer .register-ad-title h4 {
                font-size: 30px;
                font-weight: 100;
                position: absolute;
                right: 0px;
                text-align: center;
                top: 20px;
            }
            .footer .register-ad-title strong {
                font-size: 23px;
                font-weight: 900;
                /*margin-left: 40px;*/
            }
    }

.btn-ad-register {
    @apply --greenButton;
    display: block;
    font-size: 17px;
    font-weight: 400;
    height: 65px;
    line-height: 65px;
    margin: 0 auto 10px auto;
    width: 90%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
    @media (min-width: 992px) {
        .btn-ad-register {
            bottom: 118px;
            display: inline-block;
            font-size: 20px;
            height: 75px;
            line-height: 75px;
            left: 50%;
            padding: 0 95px;
            position: absolute;
            width: auto;
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%);
            -ms-transform: translateY(0%);
            -o-transform: translateY(0%);
            transform: translateY(0%);
        }
    }
    .btn-ad-register strong {
        font-weight: 900;
    }

.main-footer {
    background: url('../../images/bg/footer.png') no-repeat center;
    background-size: cover;
    height: 210px;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}
    @media (max-width: 768px) {
        .main-footer {
            height: 192px;
            padding: 15px 0;
        }
    }
    .main-footer .footer-wrapper {
        margin: 0 auto;
        width: 90%;
    }
    .main-footer .logo-footer {
        display: block;
        margin: 0 auto 0 auto;
        width: 86px;
    }
        .main-footer .logo-footer img {
            width: 100%; 
        }
    .main-footer .legal {
        bottom: 0px;
        position: absolute;
        right: 23px;
    }
        .main-footer .legal li {
            display: inline-block;
            margin: 0 5px;
        }
        .main-footer .legal a {
            color: #fff;
            font-size: 12px;
            text-decoration: underline;
        }
    .main-footer .copyright {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        margin-top: 25px;
        text-transform: uppercase;
    }
    @media (max-width: 768px) {
        .main-footer .logo-footer {
            margin-bottom: 17px;
            width: 62px;
        }
        .main-footer .legal {
            position: relative;
            right: 0px;
        }
        .main-footer .copyright {
            font-size: 12px;
            margin-top: 18px;
        }
    }
