@import '../common/typography.css';
@import '../common/colors.css';
@import '../common/button.css';
@import '../settings.css';

.home {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.home > .locale {
  order: 1;
  padding: 0 10px;
  position: absolute;
  top: 80px;
  left: 0;
  display: flex;
  width: 100%;
  z-index: 100;
}
.home > .banner-desktop {
    display: none;
}
.home > .banner-mobile {
    display: block;
    order: 3;
}
.home > .championship {
    order: 2;
    position: relative;
    z-index: 90;
}
.home > .tabs {
    order: 4;
}

@media (min-width: 992px) {
    .home {
        background: url('../../images/bg/concept.jpg') no-repeat 0px 0px;
        background-size: auto;
        padding-top: 0;
    }
    .home > .locale {
      /* order: 2; */
      display: none;
    }
    .home > .banner-desktop {
        display: block;
        order: 1;
    }
    .home > .banner-mobile {
        display: none;
    }
    .home > .championship {
      order: 2;
    }
    .home > .tabs {
      order: 3;
    }
}

.locale {
    margin: 0 auto;
    width: 960px;
}

.loading {
    background: var(--color-green) url('../../images/loading.png') no-repeat center;
    background-size: 40%;
    bottom: 0px;
    display: block;
    height: 100%;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: 1060;
}
@media (min-width: 992px) {
    .loading {
        display: none;
    }
}

.home-championships {
    /*background: url('../../images/bg/concept@2x.jpg') no-repeat;
    background-size: 100%;*/
    padding-top: 75px;
    background: url('../../images/bg/concept@2x.jpg') no-repeat bottom;
    background-size: 100%;
    padding-bottom: 30px;
    padding-top: 100px;
    z-index: 100;
}
@media (min-width: 992px) {
    .home-championships {
        background: url('../../images/bg/home-box.jpg') no-repeat center top;
        background-size: 100%;
        padding-bottom: 20px;
        padding-top: 0;
    }
}

.home-championships-box {
    margin: 0 10px;
    position: relative;
    z-index: 1;
    
}
@media (min-width: 992px) {
    .home-championships-box {
        margin: 0;
    }
}

.championship {
    background: url('../../images/bg/home-teams-carousel.jpg') no-repeat center top;
    background-size: 100%;
    border-radius: 10px 10px 0px 0px;
    /*overflow: hidden;*/
    
}
@media (min-width: 992px) {
    .championship {
        background: transparent;
        border-radius: 0px 0px 0px 0px;
        margin-top: 37px;
    }

    .home>.banner+.championship {
        margin-top: 0;
    }
}

.filters {
    display: block;
    margin-bottom: 15px;
    padding-top: 15px;
    position: relative;
    z-index: 3;
}
    @media (min-width: 992px) {
        .filters .filters-content {
            margin-left: 30%;
            width: 40%;
        }
    }

.games-carousel {
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
    width: 100%;
    z-index: 10000;
}
@media (min-width: 992px) {
    .games-carousel {
        margin: 0 auto;
        width: 820px;
    }
}

.places {
    /*background-color: #e4e4e4;*/
    background: url('../../images/bg/box-pagination@2x.png') no-repeat center bottom;
    background-size: 100%;
    border-radius: 0px 0px 10px 10px;
    /*float: left;*/
    /*overflow: hidden;*/
    padding-top: 10px;
    width: 100%;
}
@media (min-width: 992px) {
    .places {
        background: url('../../images/bg/box-pagination.png') no-repeat center bottom;
        border-radius: 0px 0px 0px 0px;
    }
}
    .places header {
        margin: 0 auto;
        padding-bottom: 10px;
        position: relative;
        width: 100%;
    }
    @media (min-width: 992px) {
        .places header {
            width: 860px;
        }
    }
    .places h2 {
        color: #1e2329;
        display: block;
        font-size: 13px;
        font-weight: 700;
        margin: 0px 0 10px 0;
        padding: 0px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
    @media (min-width: 992px) {
        .places h2{
            font-size: 18px;
            margin: 10px 0 30px 0;
            padding-top: 15px;
            text-align: left;
        }
    }

.places-carousel {
    overflow: hidden;
    padding-bottom: 60px;
    width: 100%;
    z-index: 12;
    
}
@media (min-width: 992px) {
    .places-carousel {
        margin: 0 auto;
        width: 860px;
    }
}

.place-item {
    text-align: center;
}

.places-carousel-navigation {
    bottom: 0px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
    .places-carousel-navigation ul {
        margin-bottom: 5px;
    }
    .places-carousel-navigation li {
        background: transparent;
        border: #fff 1px solid;
        border-radius: 12px;
        display: inline-block;
        font-size: 1px;
        height: 12px;
        line-height: 1px;
        margin: 0 2px;
        overflow: hidden;
        text-indent: 100%;
        width: 12px;
    }
        .places-carousel-navigation li.active {
            background: #fff;
        }

.filter-nav {
    display: block;
    width: 100%;
    z-index: 1000;
}
@media (min-width: 992px) {
    .filter-nav {
        position: absolute;
        right: 0px;
        text-align: right;
        top: 0px;
        width: 50%;
    }
}

.empty-game {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    margin: 0px 20px 0px;
    padding: 20px 0;
    text-align: center;
    z-index: 100;
    
}
@media (min-width: 992px) {
    .empty-game {
        font-size: 24px;
        margin: 60px 0 100px;
    }
}
    .empty-game strong {
        font-weight: 700;
    }

.empty-place {
    color: var(--color-dark-grey);
    font-size: 17px;
    font-weight: 300;
    margin: 0px 0px 0px;
    padding: 30px 20px;
    text-align: center;

    
}
@media (min-width: 992px) {
    .empty-place {
        font-size: 24px;
        margin: 10px 0px 30px;
    }
}
    .empty-place strong {
        font-weight: 700;
    }

.dots {
    bottom: -50px;
    display: inline-block;
    left: 50%;
    position: absolute;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
    .dots li {
        display: inline-block;
    }
    .dots li button {
        background: transparent;
        border: #fff 1px solid;
        border-radius: 12px;
        display: inline-block;
        font-size: 1px;
        height: 12px;
        line-height: 1px;
        margin: 0 2px;
        padding: 0px;
        overflow: hidden;
        text-indent: 100%;
        width: 12px;
    }
    .dots .active button{
        background-color: #fff;
    }

.btn-prev, .btn-next {
    background: none;
    border: 0px;
    cursor: pointer;
    font-size: 1px;
    height: 18px;
    line-height: 1px;
    outline: none;
    padding: 0px;
    position: absolute;
    text-indent: 100%;
    top: 45px;
    transform: rotate(-45deg);
    width: 18px;
    z-index: 10;
    
}
@media (min-width: 992px) {
    .btn-prev, .btn-next {
        top: 32%;
    }
}

.btn-prev {
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    left: -20px;
}

.btn-next {
    border-right: 3px solid #fff; 
    border-bottom: 3px solid #fff;
    right: -20px;
}

.see-all-button-mobile {
    background-color: #c6c7c8;
    border-radius: 5px;
    bottom: 10px;
    color: var(--color-dark-grey);
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 0px;
    padding: 8px 10px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    z-index: 101;
}
@media (min-width: 992px) {
    .see-all-button-mobile {
        display: none;
    }
}

.see-all-button-desktop {
    background-color: #c6c7c8;
    border-radius: 5px;
    color: var(--color-dark-grey);
    display: none;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    padding: 10px 15px;
    position: relative;
    text-transform: uppercase;
    z-index: 101;
}
@media (min-width: 992px) {
    .see-all-button-desktop {
        display: inline-block;
    }
}