@import '../common/typography.css';
@import '../common/colors.css';

.list-container {

}
    .list-container header {
        background: var(--color-dark-grey);
        display: inline-block;
        margin-top: 5px;
        margin-left: 30%;
        padding-left: 10px;
        width: 70%;
    }
    .list-container .title-list {
        color: #fff;
        font-size: 22px;
        font-style: italic;
        font-weight: 600;
        text-transform: uppercase;
        width: auto;
    }
        .list-container .title-list strong {
            font-weight: 900;
            margin-left: 20px;
        }
    .list-container .list-content {
        background: #fff;
        /*margin-top: 21px;*/
        padding: 0;
        position: relative;
    }
    .list-container .list-content:before {
        background-color: #c1c3c5;
        bottom: 0px;
        content: '';
        display: block;
        height: calc(100% + 21px);
        left: 50%;
        position: absolute;
        width: 1px;
        top: -21px;
        z-index: 1;
        -webkit-transform: translateX(-1px);
        -moz-transform: translateX(-1px);
        -ms-transform: translateX(-1px);
        -o-transform: translateX(-1px);
        transform: translateX(-1px);
    }
    .list-container footer {
        background: #fff;
        margin-top: -1px;
        text-align: center;
    }
    @media (min-width: 992px) {
        .list-container header {
            background: var(--color-dark-grey);
            display: inline-block;
            margin-top: 0px;
            margin-left: 0px;
            padding-left: 0px;
            text-align: center;
            width: 100%;
        }
        .list-container .title-list {
            color: #fff;
            font-size: 36px;
            font-style: italic;
            font-weight: 300;
            margin-bottom: 30px;
            strong {
                font-weight: 900;
                margin-left: 60px;
            }
        }
        .list-container header.header-places {
            background: transparent;
        }
            .list-container header.header-places .title-list {
                color: var(--color-dark-grey);
            }
        .list-container .list-content {
            background: #f8f8f8;
            /*margin-top: 21px;*/
            /*padding: 0px 0 15px 0;*/
            position: relative;
        }
        .list-container footer {
            background: #f8f8f8;
            font-size: 18px;
            margin-top: -1px;
            text-align: center;
        }
    }
    .search-list {
        margin-top: 21px;
    }

.list > li:nth-child(odd) {
    background: #f0f0f0;
}

.next-game-item {
    background: #fff;
    border-bottom: #8fc03f 1px solid;
    height: 90px;
    position: relative;
    width: 100%;
    z-index: 2;
    @media (min-width: 992px) {
        height: 100px;
    }
}
    .next-game-item:before,
    .next-game-item:after {
        content: " ";
        display: table;
    }
    .next-game-item:after {
        clear: both;
    }
    .next-game-item .list-col-1,
    .next-game-item .list-col-2 {
        display: inline-block;
        float: left;
        height: 90px;
        position: relative;
        width: 50%;
        z-index: 3;
    }
    .next-game-item .list-icon-date {
        display: block;
        margin: 8px 0 3px 22%;
        width: 30px;
    }
    .next-game-item .list-middle {
        background: #fbfbfb;
        border: #e6e6e6 1px solid;
        border-radius: 130px;
        display: block;
        height: 130px;
        left: 50%;
        margin-top: 0px;
        position: absolute;
        top: -25%;
        text-align: center;
        width: 130px;
        z-index: 4;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @media (min-width: 992px) {
        .next-game-item .other-games-col {
            margin-top: -10px;
        }
        .next-game-item .list-middle {
            border-radius: 150px;
            height: 150px;
            top: -25%;
            width: 150px;
        }
    }

.list {
    margin-top: 21px;
}
.list-item {
    position: relative;
    width: 100%;
    z-index: 2;
}
    .list-item:before,
    .list-item:after {
        content: " ";
        display: table;
    }
    .list-item:after {
        clear: both;
    }
    .list-item .list-col-1,
    .list-item .list-col-2 {
        display: inline-block;
        float: left;
        height: 150px;
        position: relative;
        width: 50%;
        z-index: 3;
    }
    .list-item .list-col-2 {
        background-color: #fff;
    }
    .list-item .list-icon-date {
        display: block;
        margin: 30px 0 4px 22%;
        width: 47px;
    }
    .list-item .list-middle {
        background: #fbfbfb;
        border: #e6e6e6 1px solid;
        border-radius: 130px;
        display: block;
        height: 130px;
        left: 50%;
        margin-top: 10px;
        position: absolute;
        top: 0px;
        text-align: center;
        width: 130px;
        z-index: 4;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @media (min-width: 992px) {
        .list-item:nth-child(odd) .list-col-2 {
            background-color: #f8f8f8;
        }
        .list-item .list-col-1,
        .list-item .list-col-2 {
            height: 170px;
        }
        .list-item .list-middle {
            border-radius: 150px;
            height: 150px;
            width: 150px;
        }
    }

.list-item, .next-game-item {

}
    .list-item .btn-game-list,
    .next-game-item .btn-game-list {
        background: transparent;
        border: 0px;
        color: var(--color-grey);
        cursor: pointer;
        line-height: 15px;
        /*margin-left: 42%;*/
        text-transform: uppercase;
        width: 80%;
    }
        @media (min-width: 992px) {
            .list-item .btn-game-list,
            .next-game-item .btn-game-list {
                display: block;
                margin-left: 20%;
                text-align: left;
                width: 30%;
            }
        }
    .list-item .btn-team-list {
        background: transparent;
        border: 0px;
        color: var(--color-grey);
        cursor: pointer;
        line-height: 15px;
        /*margin-left: 42%;*/
        text-transform: uppercase;
        width: 80%;
    }
        @media (min-width: 992px) {
            .list-item .btn-team-list {
                display: block;
                margin-left: 20%;
                text-align: center;
                width: 30%;
            }
        }
    .list-item .btn-other-games,
    .next-game-item .btn-other-games {
        background: transparent;
        border: 0px;
        color: var(--color-grey);
        cursor: pointer;
        display: block;
        line-height: 15px;
        margin-top: -10px;
        margin-left: 30%;
        text-transform: uppercase;
        width: 60%;
    }
        @media (min-width: 992px) {
            .list-item .btn-other-games,
            .next-game-item .btn-other-games {
                text-align: left;
                width: 30%;
            }
        }
        .list-item .btn-team-list small,
        .list-item .btn-game-list small,
        .list-item .btn-other-games small,
        .next-game-item .btn-game-list small,
        .next-game-item .btn-other-games small {
            font-size: 15px;
            font-weight: 600;
        }
        .list-item .btn-team-list strong,
        .list-item .btn-game-list strong,
        .list-item .btn-other-games strong,
        .next-game-item .btn-game-list strong,
        .next-game-item .btn-other-games strong {
            font-size: 20px;
            font-weight: 600;
        }

    .list-item .btn-places-view,
    .next-game-item .btn-places-view {
        background: transparent;
        border: 0px;
        color: var(--color-dark-grey);
        cursor: pointer;
        line-height: 15px;
        /*margin-left: 10%;*/
        text-transform: uppercase;
        min-width: 50%;
    }
        .list-item .btn-places-view small,
        .next-game-item .btn-places-view small {
            font-size: 12px;
            font-weight: 600;
        }
        .list-item .btn-places-view strong,
        .next-game-item .btn-places-view strong {
            font-size: 20px;
            font-weight: 600;
        }
    .list-item .list-icon img,
    .next-game-item .list-icon img {
        width: 100%;
    }
    
    .list-item .list-icon-place,
    .next-game-item .list-icon-place {
        display: block;
        margin: 0 0 0 29%;
        width: 49px;
    }
    .list-item .list-icon-place,
    .next-game-item .list-icon-place {
        display: block;
        margin: 0 auto;
        /*margin: 30px 0 4px 23%;*/
        width: 45px;
        /*@media (min-width: 992px) {
            margin: 30px 0 4px 0px;
        }*/
    }
    .list-item .listteam-icon-game,
    .next-game-item .listteam-icon-game {
        display: block;
        margin: 0 0 4px 0;
        width: 56px;
    }
    .list-item .listteam-icon-team,
    .next-game-item .listteam-icon-team {
        display: block;
        margin: 25px 0 4px 17%;
        width: 40px;
    }
    .list-item .list-listplace-icon-gamedate,
    .next-game-item .list-listplace-icon-gamedate {
        display: inline-block;
        margin: 0 0 0 7%;
        vertical-align: top;
        width: 27px;
    }
    .list-item .list-icon-gamedate,
    .next-game-item .list-icon-gamedate {
        display: inline-block;
        margin: 0 0 0 0;
        vertical-align: top;
        width: 27px;
    }
    .list-item .listplace-icon-game,
    .next-game-item .listplace-icon-game {
        display: block;
        margin: 0 0 3px 0;
        vertical-align: top;
        width: 48px;
    }
    
    .list-item .list-middle:before,
    .next-game-item .list-middle:before {
        background: #fff;
        border: #e6e6e6 1px solid;
        border-radius: 130px;
        content: '';
        display: block;
        height: 115px;
        left: 50%;
        position: absolute;
        top: 50%;
        text-align: center;
        width: 115px;
        z-index: 5;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .game-item .list-middle-container {
        left: 50%;
        position: absolute;
        top: 50%;
        width: 80%;
        z-index: 6;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .list-item .list-middle-container {
        left: 50%;
        position: absolute;
        top: 50%;
        /*width: 80%;*/
        z-index: 6;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .list-item .team-versus,
    .next-game-item .team-versus {
        position: absolute;
        top: 50%;
    }
    .list-item .team-versus,
    .next-game-item .team-versus {
        color: var(--color-dark-grey);
        display: inline-block;
        font-family: robotoslab;
        font-size: 20px;
        left: 50%;
        text-align: center;
        width: 20%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .list-item .game-day, .list-item .game-hour,
    .next-game-item .game-day, .next-game-item .game-hour {
        display: block;
        line-height: 15px;
        padding-left: 22%;
    }
    .list-item .game-day,
    .next-game-item .game-day {
        font-size: 16px;
        font-weight: 700;
    }
    .list-item .game-hour,
    .next-game-item .game-hour {
        font-size: 12px;
        font-weight: 700;
    }
    .list-item .gameday,
    .next-game-item .gameday {
        color: #fff;
        display: inline-block;
        text-align: left;
        width: 50%;
    }
        .list-item .gameday .game-day,
        .next-game-item .gameday .game-day,
        .list-item .gameday .game-hour,
        .next-game-item .gameday .game-hour {
            display: block;
            padding-left: 10%;
        }

    .list-item .name,
    .next-game-item .name {
        color: var(--color-dark-grey);
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin-top: 5px;
        /*margin: 15px 0 0 7%;
        width: 60%;*/
        /*@media (min-width: 992px) {
            margin: 15px 0 0 55%;
            width: 35%;
        }*/
    }
    .list-item .title a,
    .next-game-item .title a {
        color: #fff;
        font-size: 16px;
        /*margin: 15px 0 15px 7%;
        width: 60%;*/
    }
    .team-item .title a {
        font-weight: 700;
    }
    .list-item .title-champ,
    .next-game-item .title-champ {
        color: var(--color-dark-grey);
        font-size: 18px;
        font-weight: 400;
        /*margin: 25px 0 15px 7%;
        width: 60%;*/
    }
        .list-item .title-champ a,
        .next-game-item .title-champ a {
            color: var(--color-dark-grey);
            font-weight: 900;
        }
        .list-item .title-champ strong,
        .next-game-item .title-champ strong {
            font-weight: 900;
        }
    .list-item .subtitle,
    .next-game-item .subtitle {
        color: #fff;
        font-size: 15px;
        /*margin: 0 0 5px 7%;*/
    }
    .list-item .logo-container,
    .next-game-item .logo-container {
        border-radius: 130px;
        display: block;
        height: 115px;
        /*margin-left: -5%;*/
        overflow: hidden;
        position: relative;
        width: 115px;
    }
        @media (min-width: 992px) {
            .list-item .logo-container,
            .next-game-item .logo-container {
                margin-left: 0px;
            }
        }
    .list-item .logo,
    .next-game-item .logo {
        left: 0%;
        max-height: 65%;
        max-width: 65%;
        position: relative;
        top: 17%;
    }
    .list-item .logo-place, .list-item .logo-championship  {
        left: 0%;
        position: relative;
        width: 100%;
    }
    @media (min-width: 992px) {
        .list-item .list-middle:before,
        .next-game-item .list-middle:before {
            border-radius: 130px;
            height: 130px;
            width: 130px;
        }
    }

.list-col-1 .col-container {
    margin: 15px 0 0 5%;
    width: 60%;
}
    @media (min-width: 992px) {
        .list-col-1 .col-container {
            margin: 15px 0 0 55%;
            width: 35%;
        }
    }

.list-col-2 .col-container {
    margin: 30px 0 0 20%;
    width: 80%;
    text-align: center;
}
    @media (min-width: 992px) {
        .list-col-2 .col-container {
            margin: 35px 0 0 15%;
            width: 35%;
        }
    }
    .list-col-2 .col-container button i, .list-col-2 .col-container a i {
        margin: 0 auto 5px auto;
    }

.game-day-title {
    background: #90c140;
    border-radius: 80px;
    color: var(--color-white);
    display: block;
    height: 80px;
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    line-height: 22px;
    left: 50%;
    margin-top: 30px;
    padding-top: 18px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
    .game-day-title strong {
        display: block;
        font-size: 30px;
    }

.confirmed {
    bottom: 22px;
    left: 50%;
    position: absolute;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.empty-message {
    background-color: #fff;
    font-size: 17px;
    font-weight: 300;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
}
@media (min-width: 992px) {
    .empty-message {
        font-size: 24px;
        margin: 0px;
    }
}

.btn-more {
    background: var(--color-dark-grey);
    border: 0px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 50px 0;
    padding: 25px 36px;
    text-transform: uppercase;
}
    @media (min-width: 992px) {
        .btn-more {
            padding: 20px 60px;
        }
    }

li:nth-child(even) .place-confirmed, li:nth-child(even) .game-item-confirmed {
    background-color: var(--color-green-even); 
}
li:nth-child(odd) .place-confirmed, li:nth-child(odd) .game-item-confirmed {
    background-color: var(--color-green); 
}
    .place-confirmed .list-col-1 .col-container:before,
    .game-item-confirmed .list-col-1 .col-container:before {
        background: url('../../images/icons/confirmed-tag.png') no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 24px;
        margin-bottom: 0px;
        width: 85px;
    }
    @media (min-width: 992px) {
        .place-confirmed .list-col-1 .col-container:before,
        .game-item-confirmed .list-col-1 .col-container:before {
            height: 33px;
            margin-bottom: 10px;
            width: 114px;
        }
    }
    .game-item-confirmed .list-col-1 .col-container:before {
        margin-left: 10%;
    }
    .place-confirmed .list-middle,
    .game-confirmed .list-middle,
    .game-item-confirmed .list-middle {
        background: var(--color-green); 
    }
    .game-item-confirmed .list-icon-date {
        margin: 15px 0 4px 22%;
    }

.search-list li:nth-child(odd) {
    background-color: #ccc;
}

.search-list .subtitle,
.search-list .game-day,
.search-list .game-hour,
.search-list .title a {
    color: var(--color-dark-grey);
}
