@import '../common/typography.css';
@import '../common/colors.css';
@import '../common/button.css';
@import '../settings.css';

.locale {
  justify-content: center;
  display: flex;
  z-index: 1003;
  @media (min-width: 992px) {
		z-index: 1005;
	}
}

.locale.modalOpen {
  z-index: 1005;
}

.locale-button {
  background: transparent;
  border: 0;
  border-radius: 10px 10px 10px 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  outline: none;
  padding: 10px;
  position: relative;

  @media (min-width: 992px) {
    font-size: 18px;
    padding: 15px;
  }
}

.locale-button:after {
  background: url('../../images/icons/select-green.png') no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 16px;
  margin: 7px 0 0 10px;
  width: 16px;
}
