@import '../common/colors.css';
@import '../common/button.css';

.selectors {
  z-index: 10000;
}

.image-header {
    width: 100%;
}

.register-title {
    background: var(--color-dark-grey);
    color: var(--color-bg);
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    line-height: 100px;
    text-align: center;
}


.carousel-item {
    background: #000;
    display: block;
    height: 440px;
    overflow: hidden;
    position: relative;
    @media (min-width: 992px) {
        height: 535px;
    }
}
    .carousel-item:after {
        background: rgba(0, 0, 0, 0.3);
        bottom: 0px;
        content: '';
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;
    }
    .carousel-item img {
        max-height: 470px;
        min-width: 100%;
    }
    .carousel-item p {
        color: #fff;
        font-size: 27px;
        font-weight: 900;
        left: 50%;
        line-height: 25px;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        width: 50%;
        z-index: 2;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    @media (min-width: 992px) {
        .carousel-item img {
            min-width: 100%;
            max-height: none;
        }
        .carousel-item p {
            font-size: 55px;
            line-height: 50px;
        }
    }

.dots {
    background: url('images/bg/pagination.png') no-repeat;
    background-size: contain;
    display: block;
    height: 38px;
    left: 50%;
    position: absolute;
    width: 143px;
    text-align: center;
    top: 404px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    @media (min-width: 992px) {
        display: none;
    }
}
    .dots li {
        display: inline-block;
        margin: 21px 2px;
    }
    .dots a {
        border: var(--color-green) 1px solid;
        border-radius: 13px;
        display: block;
        font-size: 1px;
        height: 13px;
        line-height: 1px;
        overflow: hidden;
        text-indent: 100%;
        width: 13px;
    }
    .dots .active {
        background: var(--color-green);
    }

.register {
    background: var(--color-white);
    padding-bottom: 30px;
}

.login {
    background: var(--color-white);
}

.header-image {
    position: relative;
    width: 100vw;
    @media (min-width: 992px) {
        height: 200px;
        overflow: hidden;
    }
}
    .header-image:after {
        background: url('images/bg/header.png') no-repeat;
        background-size: contain;
        bottom: -3px;
        content: '';
        display: block;
        height: 38px;
        left: 50%;
        position: absolute;
        width: 142px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .header-image img {
        width: 100%;
    }

.heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 16px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

.alternative {
    margin-bottom: 20px;
    text-align: center;
}

.alternative-link {
    color: var(--color-dodger-blue);
    font-weight: bold;

    cursor: pointer;
}

    .form-login .form-group {
        margin-bottom: 10px;
    }
    .form-login .sr-only {
        display: none;
    }
    .form-login label {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        margin: 0px;
        position: relative;
    }
    .form-login input[type="text"], .form-login input[type="email"], .form-login input[type="password"] {
        border: #d6d6d6 1px solid;
        border-radius: 10px;
        color: var(--color-dark-grey);
        height: 50px;
        text-indent: 10px;
        width: 100%;
    }
    .form-login input[type="checkbox"] {
        display: inline-block;
        height: 30px;
        margin-right: 15px;
        opacity: 0;
        position: relative;
        vertical-align: top;
        width: 30px;
        z-index: 2;
    }
    .form-login input[type="checkbox"] + label:before {
        background-color: var(--color-light-green);
        border-radius: 5px;
        content: '';
        display: inline-block;
        height: 30px;
        left: -45px;
        position: absolute;
        top: 3px;
        vertical-align: top;
        width: 30px;
        z-index: 1;
    }
    .form-login input[type=checkbox]:checked + label:before {
        color: #fff;
        content: "\2714";
        font-size: 20px;
        text-indent: 4px;
    }

.login-button-group {
    margin-bottom: 20px;
}

    .form-register .form-group {
        margin-bottom: 10px;
    }
    .form-register .sr-only {
        display: none;
    }
    .form-register label {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        margin: 0px;
        position: relative;
    }
    .form-register input[type="text"], .form-register input[type="email"], .form-register input[type="password"], .form-register .input {
        border: #d6d6d6 1px solid;
        border-radius: 10px;
        color: var(--color-dark-grey);
        height: 50px;
        text-indent: 10px;
        width: 100%;
    }
    .form-register input[type="checkbox"] {
        display: inline-block;
        height: 30px;
        margin-right: 15px;
        opacity: 0;
        position: relative;
        vertical-align: top;
        width: 30px;
        z-index: 2;
    }
    .form-register input[type="checkbox"] + label:before {
        background-color: var(--color-light-green);
        border-radius: 5px;
        content: '';
        display: inline-block;
        height: 30px;
        left: -45px;
        position: absolute;
        top: 3px;
        vertical-align: top;
        width: 30px;
        z-index: 1;
    }
    .form-register input[type=checkbox]:checked + label:before {
        color: #fff;
        content: "\2714";
        font-size: 20px;
        text-indent: 4px;
    }
    .form-register input[type="radio"] {
        display: inline-block;
        height: 28px;
        margin-right: 11px;
        opacity: 0;
        position: relative;
        vertical-align: top;
        width: 28px;
        z-index: 3;
    }
    .form-register input[type="radio"] + label:before {
        background-color: #fbfbfb;
        border: #d6d6d6 1px solid;
        border-radius: 25px;
        content: '';
        display: inline-block;
        height: 25px;
        left: -43px;
        position: absolute;
        top: 5px;
        vertical-align: top;
        width: 25px;
        z-index: 1;
    }
    .form-register input[type=radio]:checked + label:after {
        background: var(--color-light-green);
        border-radius: 17px;
        content: '';
        display: inline-block;
        height: 17px;
        left: -39px;
        position: absolute;
        top: 9px;
        vertical-align: top;
        width: 17px;
        z-index: 2;
    }
    .form-register .form-radio label {
        margin-bottom: 15px;
        margin-right: 40px;
    }
    .form-register .select {
        border: #d6d6d6 1px solid;
        border-radius: 10px;
        padding: 0 1em 0 10px;
    }
    .form-register select {
        background: url('../../images/icons/select.png') no-repeat right;
        border: 0px;
        color: var(--color-dark-grey);
        display: inline-block;
        height: 50px;
        margin-left: 0px;
        padding: 0;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }
    .form-register select:focus {
        outline: none;
    }
    @media (min-width: 992px) {
        margin-left: 25%;
        width: 50%;
    }

.icon-error {
  display: block;
  margin: 20px auto 0;
  text-align: center;
  width: 100%;
}
  .icon-error img {
    width: 50%;
  }
  @media (min-width: 992px) {
      .icon-error img {
        width: auto;
      }
  }

.message {
    background: #f4f4f4;
    /*border: var(--color-red) 1px solid;*/
    border-radius: 10px;
    color: var(--color-red);
    display: block;
    margin-bottom: 10px;
    padding: 15px 20px;
    width: 100%;
}
    .message i {
        color: var(--color-red);
        font-size: 20px;
        margin-right: 10px;
    }

.buttons-loginOrRegister {
    background: var(--color-white);
    padding-bottom: 30px;
}
.btn-register, .btn-login, .btn-more-register {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 65px;
    /*margin-left: 5%;*/
    margin-top: 25px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
    @media (min-width: 992px) {
        .btn-register, .btn-login, .btn-more-register {
            display: inline-block;
            font-size: 20px;
            margin-left: 2.5%;
            width: 45%;
        }
    }
    .btn-register strong,
    .btn-login strong,
    .btn-more-register strong {
        font-weight: 900;
    }

.btn-register {
    @apply --greenButton;
}
.btn-login {
    @apply --whiteButton;
}
.btn-facebook {
    @apply --blueButton;
}
.btn-google {
    @apply --redButton;
}
.btn-account {
    @apply --greenButton;
}
.btn-later {
    @apply --whiteButton;
}

.buttons-register {
    background: var(--color-white);
    display: none;
    padding-bottom: 30px;
}
    .buttons-register.show {
        display: block;
    }

.btn-prev, .btn-next {
    background: none;
    border: 0px;
    cursor: pointer;
    font-size: 1px;
    height: 18px;
    line-height: 1px;
    outline: none;
    padding: 0px;
    position: absolute;
    text-indent: 100%;
    top: 50%;
    transform: rotate(-45deg);
    width: 18px;
    z-index: 2;
}
    @media (min-width: 600px) {
        .btn-prev, .btn-next {
            top: 50%;
        }
    }

.btn-prev {
    border-left: 3px solid var(--color-white);
    border-top: 3px solid var(--color-white);
    left: 15px;
}

.btn-next {
    border-right: 3px solid var(--color-white);
    border-bottom: 3px solid var(--color-white);
    right: 15px;
}

.btn-submit {
    @apply --greenButton;
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 65px;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
    @media (min-width: 992px) {
        .btn-submit {
            display: inline-block;
            font-size: 20px;
            margin-left: 25%;
            width: 50%;
        }
    }
    .btn-submit strong {
        font-weight: 900;
    }

.terms-and-policy {
    display: flex;
}
    .terms-and-policy label {
        line-height: 20px;
    }
    @media (min-width: 992px) {
       .terms-and-policy label {
            line-height: 30px;
        }
    }