@import '../settings.css';
@import '../common/colors.css';
@import '../common/button.css';

.message {
    display: block;
    padding: 12px 0;

    border-radius: var(--global-radius);
    color: var(--color-black);
    font-size: var(--font-medium);
    text-align: center;
}

	.message i {
		font-size: 120px;
	}

	.message h1 {
		margin-bottom: 0px;
	}

	.message p {
		font-size: 18px;
		margin-bottom: 40px;
	}

.success i {
    color: var(--color-green);
}

.error i {
    color: var(--color-red);
}

.success button, .success a {
    @apply --greenButton;
    display: block;
    font-size: 17px;
    font-weight: 400;
    height: 65px;
    line-height: 65px;
    margin: 0 auto 10px auto;
    width: 90%;
    @media (min-width: 992px) {
        display: inline-block;
        font-size: 20px;
        height: 75px;
        line-height: 75px;
        padding: 0 95px;
        width: auto;
    }
}

.error button, .error a {
    @apply --redButton;
    display: block;
    font-size: 17px;
    font-weight: 400;
    height: 65px;
    line-height: 65px;
    margin: 0 auto 10px auto;
    width: 90%;
    @media (min-width: 992px) {
        display: inline-block;
        font-size: 20px;
        height: 75px;
        line-height: 75px;
        padding: 0 95px;
        width: auto;
    }
}
