@import '../settings.css';
@import '../common/button.css';
@import '../common/colors.css';
@import '../common/typography.css';

.modal {
    background: rgba(255, 255, 255, 0.97);
    bottom: 0px;
    display: none;
    left: 0px;
    position: fixed;
    overflow: auto;
    right: 0px;
    top: 0px;
    z-index: var(--modal-index);
}
    .modal header {
        border-bottom: 0px;
        position: relative;
    }
    .modal .modal-title {
        font-size: 22px;
        font-weight: 900;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 40px;
        padding: 0 40px;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
    }
    .modal .modal-title strong {
        font-style: italic;
        font-weight: 900;
        margin-left: 18px;
    }
    .modal .modal-title span {
        display: inline-block;
    }
    .modal a{
        font-size: 17px;
        font-weight: 400;
    }
    .modal strong {
        font-weight: 900;
    }
    .modal footer {
        width: 100%;
    }
    .modal .col-1, .modal .col-2 {
        display: inline-block;
        width: 30%;
    }
    .modal .col-1 {
        font-size: 15px;
        vertical-align: top;
    }
    .modal .col-2 {
        vertical-align: top;
    }
    .modal .col-middle {
        display: inline-block;
        width: 40%;
    }
    .modal .col-middle-container {
        background: var(--color-white);
        border-radius: 128px;
        height: 128px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 128px;
    }
    .modal .col-middle-container div {
        background: #f0f0f0;
        border-radius: 100%;
        display: block;
        height: 110px;
        left: 50%;
        margin: -55px 0 0 -55px;
        overflow: hidden;
        position: relative;
        top: 50%;
        width: 110px;
        /*-webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);*/
    }
    .modal .col-middle img {
        width: 100%;
    }
    @media (min-width: 992px) {
        .modal .col-1 {
            font-size: 15px;
            margin-left: 30%;
            width: 10%;
        }
        .modal .col-2 {
            vertical-align: top;
            width: 40%;
        }
        .modal .col-middle {
            width: 20%;
        }
    }

.modal-body {
    height: 100%;
    padding: 0px;
    width: 100%;
}
    .modal-body ol {
        margin: 0px;
        padding: 0px;
    }

.modal-content {
    float: left;
    padding: 0 15px;
    width: 100%;
    @media (min-width: 992px) {
        margin-left: 25%;
        width: 50%;
    }
}

.modal-content-full {
    height: 100vh;
    padding: 0;
    width: 100%;
    @media (min-width: 992px) {
        margin-left: 0px;
        width: 100%;
    }
}

header.gray-header {
    background: #cfd0d0;
    margin: 0px;
    padding-bottom: 36px;
    position: relative;
    width: 100%;
    z-index: 5;
}
    header.gray-header:after {
        background: #cfd0d0;
        bottom: -12px;
        content: '';
        display: block;
        height: 25px;
        left: 50%;
        margin-left: 0px;
        position: absolute;
        width: 25px;
        -webkit-transform: translateX(-50%) rotate(45deg);
        -moz-transform: translateX(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) rotate(45deg);
        -o-transform: translateX(-50%) rotate(45deg);
        transform: translateX(-50%) rotate(45deg);
    }
    header.gray-header .header-content {
        @media (min-width: 992px) {
            margin: 0 auto;
            width: 720px;
        }
    }

.sad-face {
    display: block;
    font-family: var(--sourcesanspro);
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    margin: 60px 0 30px;
    text-align: center;
    width: 100%;
}

/* LOGIN MODAL */
    .login-modal .modal-title {
        text-align: center;
        text-transform: none;
    }

/* TERMS MODAL */
.term-text {
    overflow-y: scroll;
    height: 65vh;
}
    .term-text p {
        width: 95%;
    }
    .term-text::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .term-text::-webkit-scrollbar:vertical {
        width: 11px;
    }

    .term-text::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    .term-text::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
    }

    .term-text::-webkit-scrollbar-track { 
        /*background-color: #fff; */
        border-radius: 8px; 
    } 

/* SEARCH MODAL */
.search-modal {
    background: rgba(255, 255, 255, 1) url('images/icons/futebol.png') no-repeat center;
    background-size: 35%;
    overflow-y: auto;
}
    .search-modal label {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    .search-modal input[type="text"]::placeholder {
        color: #888;
        font-style: italic;
    }
    @media (min-width: 992px) {
        .search-modal input[type="text"]::placeholder {
            font-size: 14px;
        }
    }
    .search-modal header {
        padding-bottom: 25px;
    }
.places-modal {
    background: #fff;
    background-size: 35%;
    overflow-y: auto;
}
    .search-modal header h3:before,
    .places-modal header h3:before {
        background: url('images/icons/search.png') no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 37px;
        margin-right: 32px;
        vertical-align: top;
        width: 37px;
    }
    .search-modal .search-word {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .search-modal .search-word span {
        color: #888;
        text-transform: uppercase;
    }
    .search-modal .search-field {
        border-bottom: #3c3c3c 1px solid;
        padding-bottom: 10px;
    }
    .search-modal .modal-title {
        margin-bottom: 5px;
    }
    .places-modal .search-field {
        border-bottom: #3c3c3c 1px solid;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .places-modal .places-field {
        border-bottom: #3c3c3c 1px solid;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .places-modal select {
        background: url('../../images/icons/select-dark.png') no-repeat right !important;
        border: 0px;
        color: var(--color-dark-grey);
        display: inline-block;
        font-size: 16px;
        height: 27px;
        margin-left: 5px;
        outline: none;
        padding: 0 2em 0 0;
        text-transform: uppercase;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }
    .places-modal .places-list {
        padding-top: 40px;
    }
    .places-modal .places-list:before {
        background: #c1c3c5;
        bottom: 0px;
        content: '';
        display: block;
        height: 100%;
        left: 50%;
        margin-left: -1px;
        position: absolute;
        top: 0px;
        width: 1px;
    }

.no-result {
    font-size: 18px;
    font-weight: 300;
    margin-top: 200px;
    text-align: center;
}

form.modal-form {
    padding: 0 15px;
}
    .modal-form input[type="text"] {
        background: transparent;
        border: 0px;
        color: var(--color-athens-gray);
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        padding-left: 10px;
        text-transform: uppercase;
        width: 83%;
    }
    .modal-form textarea {
        background: transparent;
        border: 0px;
        color: var(--color-athens-gray);
        font-size: 16px;
        font-weight: 400;
        padding-left: 10px;
        text-transform: uppercase;
        width: 90%;
    }
    .modal-form input[type="submit"] {
        background: transparent;
        border: 0px;
        color: var(--color-athens-gray);
        display: inline-block;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        width: 15%;
    }
    .modal-form .field-group {
        margin-bottom: 10px;
        width: 100%;
    }
    .modal-form .field-group input[type="text"] {
        border: #d6d6d6 1px solid;
        border-radius: 10px;
        line-height: 53px;
        width: 100%;
    }
    .modal-form .field-group textarea {
        border: #d6d6d6 1px solid;
        border-radius: 10px;
        line-height: 53px;
        width: 100%;
    }
    .modal-form .select {
        background-color: var(--color-white); 
        border: #dfdfdf 1px solid;
        border-radius: 10px 10px 10px 10px;
        color: var(--color-dark-grey);
        display: table;
        margin-bottom: 20px;
        padding: 15px 10px;
        text-transform: uppercase;
        vertical-align: top;
        width: 100%;
    }
    .modal-form select {
        background: url('../../images/icons/select.png') no-repeat right;
        border: 0px;
        color: var(--color-dark-grey);
        display: inline-block;
        font-size: 16px;
        height: 27px;
        margin-left: 5px;
        outline: none;
        padding: 0 2em 0 0;
        text-transform: uppercase;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }
    .modal-form .field-group ::-webkit-input-placeholder,
    .modal-form .search-field ::-webkit-input-placeholder {
        color: var(--color-athens-gray);
    }
    .modal-form .field-group :-moz-placeholder,
    .modal-form .search-field :-moz-placeholder {
        color: var(--color-athens-gray);
        opacity: 1;
    }
    .modal-form .field-group ::-moz-placeholder,
    .modal-form .search-field ::-moz-placeholder {
        color: var(--color-athens-gray);
        opacity: 1;
    }
    .modal-form .field-group :-ms-input-placeholder,
    .modal-form .search-field :-ms-input-placeholder {
        color: var(--color-athens-gray);
    }

/* PLACE GAMES LIST */
.place-games-list {
    background: var(--color-white);
}
    .place-games-list .modal-title {
        position: relative;
        text-align: center;
    }
    .place-games-list .modal-title:before {
        background: url('images/icons/games-list.png') no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 37px;
        left: 0px;
        position: absolute;
        width: 40px;
    }
    @media (min-width: 992px) {
        .place-games-list .modal-title:before {
            left: auto;
            margin-left: -50px;
        }
    }


/* PLACE SUGGESTION */
.place-suggest {

}
    .place-suggest .modal-title:before {
        background: url('images/icons/like.png') no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 47px;
        margin-right: 23px;
        width: 36px;
    }
    .suggest-text {
        margin-bottom: 40px;
    }

.icon-explanation {
    display: table;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 0px;
    margin-top: 15px;
    vertical-align: top;
}
    .icon-explanation:before {
        background: url('images/icons/confirmed.png') no-repeat;
        background-size: contain; 
        content: '';
        display: table-cell;
        height: 20px;
        width: 20px;
    }
    .icon-explanation span {
        display: table-cell;
        padding-left: 8px;
    }
    @media (min-width: 992px) {
        .icon-explanation {
            margin: 20px auto 0;
        }
    }

/* MESSAGE */
.message.success {
    color: var(--color-dark-grey);
    font-size: 24px;
    text-align: center;
}
    .message.success i {
        color: var(--color-green);
        display: block;
        font-size: 160px;
        margin-bottom: 20px;
        text-align: center;
    }

    .message.success p {
        margin: 0 auto 20px auto;
        width: 90%;
    }

/* SERVICES */
.services{}
    .services li {
        font-size: 17px;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .services li img {
        margin-right: 15px;
        width: 55px;
    }
    .services .modal-title {
        text-align: center;
    }
    .services .modal-title:before {
        background: url('images/icons/legend.png') no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 36px;
        margin-right: 32px;
        vertical-align: top;
        width: 45px;
    }

/* SERVICES */
.gallery {
    background: #000;
}
    .gallery header {
        background: rgba(0, 0, 0, 0.2);
        color: var(--color-white);
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 100;
    }
    .gallery .modal-title:before {
        background: url('images/icons/gallery.png') no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 30px;
        margin-right: 15px;
        vertical-align: top;
        width: 43px;
    }
    .gallery .modal-body {
        position: relative;
        z-index: 99;
    }
    .gallery .cover {
        height: 100vh;
        text-align: center;
    }
    .gallery .cover img {
        margin: 0 auto;
        max-height: 100vh;
        max-width: 100%;
        position: relative;
        text-align: center;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .gallery .place-description {
        bottom: 15px;
        position: absolute;
        width: 100%;
        z-index: 100;
        @media (min-width: 992px) {
            left: 50%;
            width: 960px;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
    .gallery .logo-container {
        background: var(--color-white);
        border-radius: 70px;
        display: inline-block;
        height: 70px;
        margin-left: 15px;
        overflow: hidden;
        width: 70px;
        @media (min-width: 992px) {
            height: 140px;
            width: 140px;
        }
    }
    .gallery .logo-container figure {
        border-radius: 70px;
        left: 50%;
        position: relative;
        overflow: hidden;
        top: 50%;
        width: 90%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .gallery .logo-container img {
        position: relative;
        width: 100%;
    }
    .gallery .name {
        color: var(--color-white);
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
        margin-left: 10px;
        @media (min-width: 992px) {
            font-size: 20px;
        }
    }
    .gallery .btn-prev, .gallery .btn-next {
        background: none;
        border: 0px;
        cursor: pointer;
        font-size: 1px;
        height: 40px;
        line-height: 1px;
        outline: none;
        padding: 0px;
        position: absolute;
        text-indent: 100%;
        top: 50%;
        /*transform: rotate(-45deg);*/
        width: 40px;
        z-index: 2;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -moz-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        -o-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
        @media (min-width: 992px) {
            height: 70px;
            top: 38%;
            width: 70px;
        }
    }
    .gallery .btn-prev {
        border-left: 3px solid #fff;
        border-top: 3px solid #fff;
        left: 20px;
    }
    .gallery .btn-next {
        border-right: 3px solid #fff; 
        border-bottom: 3px solid #fff;
        right: 20px;
    }


/* BUTTONS */
.close {
    background: transparent;
    border: 0px;
    color: var(--color-dark-grey);
    font-size: 60px;
    line-height: 60px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}
    .close-white {
        color: var(--color-white);
    }
    .close span {
        font-size: 60px;
    }

.btn-modal {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 65px;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: 992px) {
        display: inline-block;
        font-size: 20px;
        margin-left: 2.5%;
        width: 45%;
    }
}
    .btn-modal strong {
        font-weight: 900;
    }

.btn-add {
    display: block;
    font-size: 13px;
    font-weight: 900;
    line-height: 65px;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: 992px) {
        display: inline-block;
        font-size: 20px;
        margin-left: 65%;
        width: 35%;
    }
}
.btn-submit {
    font-size: 16px;
}

.btn-place {
    background: transparent;
    border: 0px;
    color: var(--color-grey);
    display: block;
    font-size: 24px;
    line-height: 22px;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: 992px) {
        text-align: left;
    }
}
    .modal .btn-place small {
        font-weight: 600;
    }
    .modal .btn-place strong {
        font-weight: 900;
    }
    .btn-place .icon-place {
        display: block;
        height: 30px;
        margin: 0 auto 3px auto;
        width: 50px;
        @media (min-width: 992px) {
            margin: 0 0 3px 0;
        }
    }
    .btn-place .icon-place img {
        width: 100%;
    }

.btn-championship {
    background: transparent;
    border: 0px;
    color: var(--color-grey);
    display: block;
    font-size: 24px;
    line-height: 18px;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    @media (min-width: 992px) {
        width: 30%;
    }
}
    .modal .btn-championship small {
        font-weight: 600;
    }
    .modal .btn-championship strong {
        font-weight: 900;
    }
    .btn-championship .icon-championship {
        display: block;
        margin: 0 auto 3px;
        width: 50px;
    }
    .btn-championship .icon-championship img {
        width: 100%;
    }

.btn-add, .btn-account, .btn-submit, .btn-back {
    @apply --greenButton;
}

.btn-later {
    @apply --whiteButton;
}

.btn-white {
    @apply --whiteButton;
}

.login-button-group {

}
.btn-more-register, .btn-modal {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 65px;
    /*margin-left: 5%;*/
    margin-top: 25px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: 992px) {
        display: inline-block;
        font-size: 20px;
        margin-left: 2.5%;
        width: 45%;
    }
}
.btn-facebook {
    @apply --blueButton;
}
.btn-google {
    @apply --redButton;
}

.favorite-team-modal {
    text-align: center;
}
    .favorite-team-modal img {
        margin-top: 100px;
        width: 120px;
    }
    .favorite-team-modal h1 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .favorite-team-modal .title-no-team {
        margin-bottom: 20px;
    }
    .favorite-team-modal p {
        font-size: 22px;
    }
    .favorite-team-modal .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
    .favorite-team-modal .btn-edit,
    .favorite-team-modal .btn-ok {
        display: block;
        font-size: 24px;
        font-weight: 600;
        height: 90px;
        line-height: 85px;
        margin: 0 0 15px;
        padding: 0;
        width: 90%;
        text-transform: uppercase;
    }
    .favorite-team-modal .btn-edit {
        color: #9ebf4c;
        border: #9ebf4c 1px solid;
        border-radius: 15px;
        margin-right: 10px;
    }
    .favorite-team-modal .btn-ok {
        background-color: #9ebf4c;
        border-radius: 15px;
        color: #fff;
        margin-left: 10px;
    }
    @media (min-width: 992px) {
        .favorite-team-modal h1 {
            font-size: 36px;
        }
        .favorite-team-modal p {
            font-size: 36px;
            margin-bottom: 20px;
        }
        .favorite-team-modal .actions {
            display: flex;
        }
        .favorite-team-modal .btn-edit,
        .favorite-team-modal .btn-ok {
            display: inline-block;
            font-size: 36px;
            margin: 0 10px;
            padding: 0px 30px;
            width: auto;
        }
    }

.locale-content {
    padding: 0;
}

.locale-header {
    padding: 0 15px;
}

.locale-title {
    color: var(--color-green);
    padding: 0 15px !important;
}

.locale-title strong {
    margin-left: 0 !important;
}

.locale-input-wrapper {
    border-bottom: 1px solid #bebebe;
    padding: 0 30px 10px;
}

.locale-input {
    border: 0;
    color: #a9a9a9;
    font-size: 18px;
}

.modal-locale {
    background: rgba(255, 255, 255, 1);
}

.locale-list {
    padding: 10px 20px 0;
}

.locale-item {
    border-bottom: 3px solid #bebebe;
    color: #000;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    padding: 10px 3px;
    margin-bottom: 20px;
}

.locale-item:before {
    content: '';
    background: url('images/icons/pin.png') no-repeat;
    background-size: contain;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
