@import '../common/typography.css';
@import '../common/colors.css';
@import '../settings.css';

body.modal-open {
    overflow: hidden;
    height: 100vh;
}

.locale {
	display: block;
	left: 5px;
	position: absolute;
	right: auto;
	top: 70px;
	/* z-index: 1003; */

	@media (min-width: 992px) {
		display: block;
		left: auto;
		right: 180px;
		top: 10px;
		position: fixed;
		z-index: 1005;
	}
}

.admin .locale,
.login .locale,
.login-erro .locale,
.cadastro .locale,
.cadastrar-bar .locale,
.termos .locale,
.politica-de-privacidade .locale,
.gerenciar-post .locale,
.gerenciar-jogos-confirmados .locale,
.editar-bar .locale,
.gerenciar-jogos .locale {
  display: none;
}

.main-header {
	background: url(../../images/bg-header@2x.png) repeat-x;
	background-size: auto 100%;
	display: block;
	height: 75px;
	width: 100vw;
	position: fixed;
	z-index: 1004;
}

.main-nav {
	display: block;
	height: 100vh;
	position: absolute;
	right: -120%;
	width: 80%;
	z-index: 1;
}
	@media (min-width: 992px) {
		.main-nav {
			width: 100%;
		}
	}
	.main-nav.open {
		right: 0%;
	}
	.main-nav .sidebar-menu a {
		color: #fff;
	}
	.main-nav .menu {
		bottom: 0px;
		/*position: absolute;*/
		width: 100%;
	}
		@media (min-width: 992px) {
			.main-nav .menu {
				left: 50%;
				width: 820px;
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				transform: translateX(-50%);
			}
		}

.logo {
	display: inline-block;
	height: 27px;
	left: 50%;
	margin: 23px auto 0 auto;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 1;
}
	@media (min-width: 992px) {
		.logo {
			height: 43px;
			left: 20px;
			margin: 15px auto 0 auto;
			-webkit-transform: translateX(0%);
			-moz-transform: translateX(0%);
			-ms-transform: translateX(0%);
			-o-transform: translateX(0%);
			transform: translateX(0%);
		}
	}
	.logo img {
		height: 100%;
	}

.menu-logo {
	margin: 40px auto 17px auto;
	width: 140px;
}
	.menu-logo img {
		width: 100%;
	}

.nav-cadastrar-bar {
	background: url(../../images/buttons/cadastrar-bar.png) repeat-x;
	background-size: contain;
	display: block;
	height: 54px;
	margin: 0 0 15px 15px;
	text-indent: -6000px;
	width: 212px;

	@media (min-width: 992px) {
		margin: 0 auto 15px;
	}
}

.main-menu {
	background: #1a1f23;
	border-left: #91be47 2px solid;
	-webkit-box-shadow: -30px 0px 30px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -30px 0px 30px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -30px 0px 30px 0px rgba(50, 50, 50, 0.75);
	display: block;
	height: 100vh;
	overflow: auto;
	position: relative;
	width: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition:    all 0.5s ease;
	-o-transition:      all 0.5s ease;
	-ms-transition:     all 0.5s ease;
	transition:         all 0.5s ease;
	z-index: 1005;
}
	@media (min-width: 992px) {
		.main-menu {
			border-left: 0px;
			width: 100%;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}

.user-nav {
	background: #91be47;
}
	.user-nav .btn-register {
		color: #1a1f23;
		display: block;
		font-weight: 600;
		font-size: 20px;
		font-style: italic;
		line-height: 18px;
		padding: 25px 10px 5px 20px;
	}
		.user-nav .btn-register i {
			margin-right: 10px;
		}
	.user-nav .user-register span {
		color: #1a1f23;
		font-weight: 600;
		font-size: 14px;
		font-style: italic;
		line-height: 14px;
		margin: 15px 0;
	}

	@media (min-width: 992px) {
		.user-nav .btn-register {
			font-size: 24px;
			padding: 30px 5% 30px 20%;
		}
			.user-name .btn-register i {
				margin-right: 15px;
			}
		.user-nav .user-register span {
			font-size: 18px;
			line-height: 22px;
			margin: 15px 0;
		}
	}

.sidebar-menu {
	border-top: 1px solid #91be47;
	margin-bottom: 0px;
}
	@media (min-width: 992px) {
		.sidebar-menu {
			border-top: 0px;
		}
	}
	.sidebar-menu a {
		display: block;
		padding: 12px 20px;
	}
	.sidebar-menu i {
		margin-right: 10px;
	}
	.sidebar-menu span {
		line-height: 30px;
		font-weight: 700;
		font-style: italic;
	}
	.sidebar-menu li:nth-child(odd) {
		background: rgba(255, 255, 255, 0.1);
	}

	@media (min-width: 992px) {
		.sidebar-menu a {
			font-size: 24px;
			font-weight: 700;
			padding: 15px 20%;
		}
		.sidebar-menu a:hover {
			color: #fff;
		}
		.sidebar-menu i {
			margin-right: 30px;
		}
		.sidebar-menu li {
			border-bottom: 1px solid #91be47;
		}
		.sidebar-menu li:nth-child(odd) {
			background: transparent;
		}
	}


.menu-header {
	color: #fff;
}

	.menu-header p {
		border-right: 10px solid #91be47;
		font-size: 18px;
		line-height: 20px;
		margin: 0 5% 13px 0;
		padding-right: 15px;
		text-align: right;
		width: 95%;
	}
	.menu-header span:nth-child(1) {
		font-weight: 300;
		font-style: italic;
	}
	.menu-header span:nth-child(2) {
		font-weight: 400;
		font-style: italic;
	}
	.menu-header span:nth-child(3) {
		font-weight: 600;
		font-style: italic;
	}
	@media (min-width: 992px) {
		.menu-header p {
			margin: 0 0 20px 40%;
			width: 20%;
		}
	}

.btn-search {
	background: url('images/icons/search-header.png') no-repeat center top;
	background-size: contain;
	border: 0px;
	bottom: 26px;
	cursor: pointer;
	color: #91be47;
	height: 25px;
	position: absolute;
	right: 85px;
	width: 25px;
}
	@media (min-width: 992px) {
		.btn-search {
			bottom: 23px;
			height: 30px;
			right: 140px;
			width: 30px;
		}
	}
	.btn-search:hover {
		opacity: 0.5;
	}

.user-info {
	padding: 15px;
}
	.user-info figure {
		border: 7px solid var(--color-dark-grey);
		border-radius: 30px;
		display: inline-block;
		height: 60px;
		margin-right: 10px;
		overflow: hidden;
		vertical-align: top;
		width: 60px;
	}
		.user-info figure img {
			width: 100%;
		}
	.user-info .welcome {
		color: #1e2329;
		display: inline-block;
		font-size: 24px;
		font-style: italic;
		font-weight: 600;
		line-height: 24px;
	}
	.user-info .welcome strong {
		font-weight: 900;
	}
	.user-info li {
		display: inline-block;
		margin: 15px 0 0px;
		width: 50%;
	}
	.user-info .full-width {
		width: 100%;
	}
	.user-info .info-link {
		color: #1e2329;
		cursor: pointer;
		font-size: 18px;
		font-style: italic;
		font-weight: 600;
	}
	.user-info .edit:before {
		background: url('images/icons/gear.png') no-repeat;
		content: '';
		display: inline-block;
		height: 31px;
		margin-right: 10px;
		vertical-align: top;
		width: 31px;
	}
	.user-info .logout:before {
		background: url('images/icons/logout.png') no-repeat;
		content: '';
		display: inline-block;
		height: 31px;
		margin-right: 10px;
		vertical-align: top;
		width: 31px;
	}
	.user-info .insert:before {
		/*background: url('images/icons/insert.png') no-repeat;*/
		background: url('images/icons/broadcast.png') no-repeat;
		content: '';
		display: inline-block;
		height: 30px;
		margin-right: 10px;
		vertical-align: top;
		width: 30px;
	}
	.user-info .places:before {
		background: url('images/icons/places-tab.png') no-repeat;
		background-size: contain;
		content: '';
		display: inline-block;
		height: 30px;
		margin-right: 10px;
		vertical-align: top;
		width: 32px;
	}

.btn-toggle {
	background: none;
	border: 0px;
	bottom: 30px;
	cursor: pointer;
	height: 20px;
	margin: 0 auto;
	outline: none;
	padding: 0px;
	position: absolute;
	right: 10px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	width: 24px;
	z-index: 1006;
}
	@media (min-width: 992px) {
		.btn-toggle {
			bottom: 23px;
			height: 32px;
			right: 20px;
			width: 34px;
		}
	}
	.btn-toggle:hover {
		opacity: 0.5;
	}
	.btn-toggle span {
		background: #fff;
		border-radius: 2px;
		box-sizing: border-box;
		display: inline-block;
		height: 3px;
		left: 0;
		opacity: 1;
		position: absolute;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		width: 100%;
	}
	.btn-toggle span:nth-child(1) {
		top: 0px;
	}

	.btn-toggle span:nth-child(2),span:nth-child(3) {
		top: 10px;
	}

	.btn-toggle span:nth-child(4) {
		top: 20px;
	}

	.btn-toggle.open span:nth-child(1) {
		left: 50%;
		top: 13px;
		width: 0%;
	}
	.btn-toggle.open span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.btn-toggle.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.btn-toggle.open span:nth-child(4) {
		left: 50%;
		top: 13px;
		width: 0%;
	}
	@media (min-width: 992px) {
		.btn-toggle span {
			border-radius: 5px;
			height: 5px;
		}

		.btn-toggle span:nth-child(1) {
			top: 0px;
		}
		.btn-toggle span:nth-child(2),span:nth-child(3) {
			top: 14px;
		}
		.btn-toggle span:nth-child(4) {
			top: 27px;
		}
		.btn-toggle.open span:nth-child(1) {
			left: 50%;
			top: 13px;
			width: 0%;
		}
		.btn-toggle.open span:nth-child(2) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		.btn-toggle.open span:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		.btn-toggle.open span:nth-child(4) {
			left: 50%;
			top: 13px;
			width: 0%;
		}
	}

.btn-back {
	background: none;
	border: 0px;
	bottom: 28px;
	border-left: 3px solid #fff;
	border-top: 3px solid #fff;
	cursor: pointer;
	height: 18px;
	transform: rotate(-45deg);
	outline: none;
	padding: 0px;
	position: absolute;
	left: 10px;
	width: 18px;
	z-index: 2;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

button:focus {
	outline: none;
}


.favorite-team {
	background-color: transparent;
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	right: 50px;
	top: 22px;
	width: 28px;
}
	.favorite-team img {
		width: 100%;
	}
	@media (min-width: 992px) {
		.favorite-team {
			height: 33px;
			right: 83px;
			top: 20px;
			width: 33px;
		}
		.favorite-team.empty {
			top: 16px;
		}
	}
