@import '../common/typography.css';
@import '../common/colors.css';
@import '../settings.css';

.owner-manage-games {
    background-color: var(--color-green);
    padding: 75px 0 50px;
}

.owner-manage-container {
    margin: 0 auto;
    width: 100%;
}
    @media (min-width: 992px) {
        .owner-manage-container {
            width: 940px;
        }
    }

.owner-manage-header {
    background: transparent;
    color: var(--color-white);
    display: block;
    height: auto;
    width: 100%;
}
    .owner-manage-header .title {
        border-left: var(--color-white) 11px solid;
        font-weight: 900;
        line-height: 24px;
        padding: 0px 0 2px 23px;
        vertical-align: top;
    }
    @media (min-width: 992px) {
        .owner-manage-header {
            background: url('../../images/bg/admin-header.jpg') no-repeat;
            background-size: 100%;
            color: var(--color-white);
            display: block;
            height: 140px;
            width: 100%;
        }
    }

.title-small {
    font-size: 15px;
}

.title-medium {
    font-size: 30px;
}

.title-large {
    font-size: 41px;
    line-height: 42px;
}

.select-place {
    margin-top: 15px;
    padding: 0 35px;
}
    .select-place label {
        color: var(--color-white);
        display: block;
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
    }
    @media (min-width: 992px) {
        .select-place {
            margin-top: 40px;
            padding: 0;
        }
        .select-place label {
            display: none;
        }
    }

.owner-manage-filters {
    color: var(--color-white);
    padding: 25px 0;
    text-align: center;
}
    .owner-manage-selected-filters {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .owner-manage-selected-filters .selected-date {
        font-weight: 900;
    }
    .btn-filter-games {
        background: transparent;
        border: 0px;
        font-size: 20px;
        font-weight: 900;
        line-height: 35px;
        margin-bottom: 50px;
    }
    .btn-filter-games:after {
        background: url('../../images/buttons/filter.png') no-repeat;
        background-size: 100%;
        content: '';
        display: inline-block;
        height: 23px;
        line-height: 55px;
        margin-left: 13px;
        margin-top: 5px;
        width: 30px;
        vertical-align: top;
    }
    @media (min-width: 992px) {
        .owner-manage-filters {
            padding: 50px 0;
        }
        .owner-manage-selected-filters {
            font-size: 36px;
            margin-bottom: 30px;
        }
        .btn-filter-games {
            font-size: 35px;
            line-height: 55px;
            margin-bottom: 77px;
        }
        .btn-filter-games:after {
            background-size: 100%;
            height: 44px;
            width: 55px;
        }
    }

.post-example {
    margin-top: 50px;
}
    .post-example:before {
        background: url('../../images/icons/arrow.png') no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 60px;
        left: 50%;
        position: absolute;
        width: 60px;
        top: -30px;
        transform: translateX(-50%);
    }
    .post-example .post-example-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        padding: 70px 0 0;
        position: relative;
        width: 100%;
    }
    @media (min-width: 992px) {
        .post-example .post-example-container {
            width: 1100px;
        }
    }
    .post-example .post-example-container:before,
    .post-example .post-example-container:after {
        background: var(--color-white);
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        width: 45%;
        top: 0px;
    }
    .post-example .post-example-container:before {
        left: 0px;
    }
    .post-example .post-example-container:after {
        right: 0px;
    }

.owner-manage-form-filters {
    background-color: #719831;
    position: relative;
}
    .owner-manage-form-filters.hide {
        background: transparent;
    }
    .owner-manage-form-filters .owner-manage-filter-content {
        display: block;
        padding: 30px 25px 40px;
    }
    .owner-manage-form-filters:before {
        background: url('../../images/icons/arrow.png') no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 30px;
        left: 50%;
        position: absolute;
        width: 30px;
        top: -15px;
        transform: translateX(-50%);
    }
    .owner-manage-form-filters .owner-manage-container {
        position: relative;
    }
    .owner-manage-form-filters .owner-manage-container:before,
    .owner-manage-form-filters .owner-manage-container:after {
        background: var(--color-white);
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        width: 45%;
        top: 0px;
    }
    .owner-manage-form-filters .owner-manage-container:before {
        left: 0px;
    }
    .owner-manage-form-filters .owner-manage-container:after {
        right: 0px;
    }
    @media (min-width: 992px) {
        .owner-manage-form-filters .owner-manage-filter-content {
            padding: 70px 0;
        }
        .owner-manage-form-filters:before {
            height: 60px;
            width: 60px;
            top: -30px;
        }
    }

.date-filter {
    display: table;
}
    .date-filter > label {
        display: table-cell;
        font-weight: 700;
        font-size: 20px;
        width: 50px;
    }
    .date-filter > span {
        display: table-cell;
    }

.field-group {
    background-color: var(--color-white);
    border: #dfdfdf 1px solid;
    border-radius: 10px 10px 10px 10px;
    color: var(--color-dark-grey);
    display: table;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px 10px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: top;
    width: 100%;
}
    .field-group input, .field-group select, .field-group textarea {
        background: transparent;
        border: 0px;
        font-size: 18px;
        outline: none;
    }
    .field-group select {
        background: url('../../images/icons/select.png') no-repeat right;
        color: var(--color-dark-grey);
        display: inline-block;
        height: 27px;
        margin-left: 5px;
        padding: 0 2em 0 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }
    .field-group select.full {
        margin-left: 0px;
        width: 100%;
    }
    @media (min-width: 992px) {
        .field-group {
            margin-bottom: 0px;
            padding: 15px 10px;
        }
    }

.games {
    text-align: center;
}
    .games-title {
        color: var(--color-white);
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        margin-top: 0px;
        margin-bottom: 30px;
        text-align: center;
    }
    .games-title span {
        font-weight: 400;
    }
    @media (min-width: 992px) {
        .games-title {
            font-size: 35px;
            line-height: 42px;
            margin-bottom: 50px;
        }
    }

.game-item {
    border-bottom: #80ac39 1px solid;
    display: block;
    height: 140px;
    padding: 0 10px;
    text-align: left;
}
    .game-item:nth-child(odd) {
        background-color: #88b63c;
    }
    .game-item h3 {
        font-size: 24px;
        font-weight: 700;
        margin: 10px 0 10px 10px;
    }
    @media (min-width: 992px) {
        .game-item {
            height: 160px;
            padding: 0px;
        }
        .game-item h3 {
            font-size: 24px;
            margin: 13px 0 0 0;
        }
    }

.game-item .col-custom-1 {
    display: flex;
    flex-wrap: wrap;
}
    .game-item .col-custom-1 h3 {
        display: block;
        margin-bottom: 5px;
        width: 100%;
    }
    .col-custom-1 .game-logos {
        flex: 1;
    }

.game-logos {
    display: flex;
    margin-right: 0px;
    position: relative;
}
    .game-logos .team-versus {
        font-size: 20px;
        font-family: var(--robotoslab);
        margin: 0 5px 0 5px;
        position: relative;
    }
    .game-logos .team-item {
        flex: 1;
    }
    .game-logos.template-one {
        margin: 0px;
    }
    .game-logos.template-two {
        margin: 0px;
        padding-left: 2%;
        width: 50%;
    }
    .game-logos.template-three {
        margin: 0px;
        padding-left: 5%;
        width: 50%;
    }
    .game-logos.template-four {
        margin: 0px;
    }
    .game-logos.template-one .team-versus {
        color: var(--color-white);
        font-size: 24px;
        margin: 5px 14px 0;
        /* transform: translate(0); */
    }
    .game-logos.template-two .team-versus,
    .game-logos.template-three .team-versus {
        color: var(--color-white);
        font-size: 18px;
        margin-top: 8px;
        /* transform: translate(0); */
    }
    .game-logos .team-item img {
        width: 100%;
    }
    .game-logos.mini .team-versus {
        font-size: 13px;
        margin: 8px 8px;
    }
    @media (min-width: 992px) {
        .game-logos.template-one .team-versus {
            margin: 25px 14px 0;
        }
        .game-logos.template-two .team-versus,
        .game-logos.template-three .team-versus {
            margin: 15px 10px;
            font-size: 24px;
        }
        .game-logos.template-four .team-versus {
            margin-top: 20px;
        }
        .game-logos {
            margin-right: 10px;
        }
        .game-logos .team-versus {
            font-size: 40px;
            margin: 0 10px 0 10px;
        }
        .game-logos.mini .team-versus {
            font-size: 18px;
            margin: 0px 5px;
        }
    }

.checked {
    display: block;
    margin: 15px 15px 0 0;
}

.check-row {
    background-color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin: 10px 15px 0 10px;
    position: relative;
    width: 23px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    .check-row input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .check-row .checkmark {
        background: url('../../images/icons/checkbox-checked.png') no-repeat;
        background-size: contain;
        display: none;
        height: 13px;
        left: 4px;
        position: absolute;
        top: 5px;
        width: 17px;
    }
    .check-row:hover {
        background-color: #eee;
    }
    .check-row input:checked ~ .checkmark {
        display: block;
    }
    @media (min-width: 992px) {
        .check-row {
            border-radius: 10px;
            height: 46px;
            margin: 18px 20px 0 0;
            width: 46px;
        }
        .check-row .checkmark {
            height: 26px;
            left: 7px;
            top: 10px;
            width: 34px;
        }
    }

.game-item .col-custom-2 {
    align-items: center;
    display: flex;
    padding-top: 28px;
    position: relative;
}
.game-item .calendar {
    background-color: var(--color-white);
    border-radius: 5px;
    margin-right: 7px;
    padding: 2px 10px 3px;
    text-align: center;
}
    .game-item .calendar .weekday {
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
    }
    .game-item .calendar .day-month {
        border-top: var(--color-green) 2px solid;
        line-height: 26px;
        margin-top: 2px;
        padding: 7px 5px 0;
    }
    .game-item .calendar .day {
        font-size: 30px;
        font-weight: 900;
    }
    .game-item .calendar .month {
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .game-item .detail {
        color: var(--color-white);
        flex: 1;
        font-size: 21px;
        font-weight: 400;
        line-height: 36px;
        padding-right: 15px;
        position: relative;
    }
    .game-item .channels {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        white-space: normal;
    }
    @media (min-width: 992px) {
        .game-item .calendar {
            margin-right: 15px;
        }
        .game-item .calendar .weekday {
            font-size: 24px;
            font-weight: 900;
        }
        .game-item .calendar .day-month {
            line-height: 30px;
            padding: 7px 7px 0;
        }
        .game-item .calendar .day {
            font-size: 42px;
        }
        .game-item .calendar .month {
            font-size: 22px;
        }
        .game-item .detail {
            font-size: 30px;
        }
        .game-item .channels {
            font-size: 24px;
            line-height: 30px;
        }
    }

.confirmation-title h2 {
    color: var(--color-white);
    display: block;
    margin: 25px 0 20px 0;
    text-align: center;
}
    @media (min-width: 992px) {
        .confirmation-title h2 {
            margin: 50px 0 35px 0;
        }
    }

.confirmation {
    background-color: var(--color-white);
    display: flex;
    padding: 30px 0;
    text-align: center;
}
    .confirmation-description {
        display: flex;
        flex: 1;
        font-size: 24px;
        line-height: 30px;
        margin-right: 10px;
        margin-top: 13px;
        padding-left: 10px;
        text-align: right;
        text-transform: uppercase;
    }
    .confirmation-icon {
        background: url('../../images/icons/arrow-confirmation.png') no-repeat right;
        background-size: contain;
        content: '';
        display: block;
        flex: 1;
        height: 33px;
        margin-right: 5px;
        text-align: right;
        width: 46px;
    }
    .confirmation-counter {
        /* flex: 1; */
        font-size: 20px;
        font-weight: 900;
        line-height: 30px;
        margin-left: 10px;
        text-align: left;
        text-transform: uppercase;
    }
    .post-action {
        align-self: center;
        flex: 1;
        padding-left: 20px;
        text-align: left;
    }
    .confirmation-counter strong {
        font-size: 60px;
    }
    @media (min-width: 992px) {
         .confirmation-description {
            font-size: 32px;
            line-height: 36px;
            margin-right: 16px;
            margin-top: 17px;
            padding-left: 0px;
        }
        .confirmation-icon {
            display: block;
            height: 65px;
            margin-right: 30px;
            width: 92px;
        }
        .post-action {
            padding-left: 30px;
        }
        .confirmation-counter {
            font-size: 32px;
            line-height: 38px;
            margin-left: 16px;
        }
        .confirmation-counter strong {
            font-size: 72px;
        }
    }

.success {
    background: url('../../images/icons/download.png') no-repeat right top;
    display: block;
    margin-top: 30px;
}
    .success-title {
        color: var(--color-white);
        font-size: 30px;
        font-weight: 900;
        padding-top: 30px;
        text-align: center;
    }
    .success-description {
        color: var(--color-white);
        font-size: 24px;
        margin-bottom: 40px;
        padding: 0 20px;
        width: 100%;
        text-align: center;
    }
    .success-actions {
        text-align: center;
    }
    @media (min-width: 992px) {
        .success {
            background: url('../../images/icons/download.png') no-repeat right top;
            margin-top: 70px;
        }
        .success-title {
            font-size: 48px;
            padding-top: 70px;
            text-align: left;
        }
        .success-description {
            font-size: 28px;
            margin-bottom: 40px;
            padding: 0px;
            text-align: left;
        }
        .success-actions {
            text-align: left;
        }
    }

.actions {
    display: flex;
    margin-top: 60px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
}
    @media (min-width: 992px) {
        .actions {
            display: block;
            padding: 0px;
        }
    }

.blocked {
    background: url('../../images/bg/post-mobile.jpg') no-repeat top;
    background-size: 100%;
    color: var(--color-white);
    display: flex;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: -50px;
    padding: 20px 20px 50px; 
    width: 100%;
}
    .blocked .wrapper {
        margin: 0 auto;
        width: 820px;
    }
    .blocked .blocked-title {
        border-left: 15px solid #fff;
        font-size: 72px;
        font-weight: 900;
        margin: 0 0 10px -20px;
        padding-left: 15px;
    }
    .blocked p {
        margin-bottom: 5px;
    }
    @media (min-width: 992px) {
        .blocked {
            background: url('../../images/bg/post.jpg') no-repeat top;
            background-size: 100%;
            font-size: 28px;
            line-height: 32px;
            margin-bottom: -50px;
            padding: 120px 0 150px; 
        }
        .blocked .blocked-title {
            border-left: 0px;
            margin: 0 0 10px 0;
            padding-left: -15px;
        }
    }

.post .title {
    color: var(--color-white);
    font-size: 35px;
    padding: 40px 0;
    text-align: center;
}
.post .title strong {
    font-weight: 900;
}

.btn-confirmed, .btn-broadcast, .btn-next {
    border-radius: 10px;
    color: var(--color-white);
    font-size: 21px;
    font-weight: 900;
    margin-top: 45px;
    padding: 19px 0;
    text-transform: uppercase;
    width: 100%;
}

.btn-confirmed {
    background: transparent;
    border: var(--color-white) 1px solid;
}

.btn-broadcast {
    background: #759b34;
    border: #759b34 1px solid;
}

.btn-back, .btn-new {
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
    padding: 20px 30px;
    text-transform: uppercase;
    width: auto;
}

.btn-post {
    background-color: #f24556;
    color: var(--color-white);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
    padding: 20px 30px;
    text-transform: uppercase;
    width: 50%;
}
    .btn-post:hover {
        color: var(--color-dark-grey);
    }

.btn-back {
    background: transparent;
    border: var(--color-white) 1px solid;
    color: var(--color-white);
    margin: 0 10px 0 0;
    width: 50%;
}
    .btn-back:hover {
        background: var(--color-white);
        color: var(--color-green);
    }
    @media (min-width: 992px) {
        .btn-back,
        .btn-post {
            width: auto;
        }
    }

.btn-new, .btn-post {
    background: #f24556;
    border: #f24556 1px solid;
    color: var(--color-white);
    margin: 0 auto 0;
}

.btn-next {
    background: #f24556;
    border: #f24556 1px solid;
    color: var(--color-white);
    margin: 60px auto 0;
    padding: 19px 60px;
    width: auto;
}
    .btn-next:hover {
        color: var(--color-dark-grey);
    }

.btn-novo {
    background-color: #f24556;
    border: 0px;
    color: #fff;
    position: relative;
}
    .btn-novo:hover {
        color: var(--color-dark-grey);
    }

.btn-novo-hightlight {
    background-color: red;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    height: 70px;
    line-height: 18px;
    padding: 15px 0 0;
    text-align: center;
    white-space: normal;
    width: 70px;
}
    .btn-novo-hightlight span {
        font-weight: 300;
    }