@import '../common/colors.css';
@import '../settings.css';
@import'../common/layout.css';
@import '../common/button.css';

.place-register-container {
	margin-top: 30px;
}

.place-form-container {
	display: none;
}

.register-header {
    background: #1e2329 url('../../images/bg/admin-header.jpg') no-repeat;
    background-size: 100%;
    padding-top: 100px;
    width: 100%;
    @media (min-width: 992px) {
		padding-top: 220px;
    }
}
	.register-header .title {
		color: var(--color-white);
		font-size: 36px;
		font-style: italic;
		font-weight: 700;
		line-height: 100px;
		margin: 0px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

.welcome-phrase {
	border-bottom: var(--color-lemon-green) 1px solid;
	font-size: 18px;
	margin: 30px 0 0 0;
	padding-bottom: 40px;
	text-align: center;
}

.register-header-form-col {
    margin-top: 50px;
}

.transmissions {
	display: none;
	margin-bottom: 60px;
}

.form-title {
	border-top: var(--color-light-green) 1px solid;
	font-size: 24px;
	margin: 40px 0 30px;
	padding-top: 30px;
	text-align: center;
	text-transform: uppercase;
}

.field-group {
    background-color: var(--color-white); 
    border: #dfdfdf 1px solid;
    border-radius: 10px 10px 10px 10px;
    color: var(--color-dark-grey);
    display: table;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px 10px;
    text-transform: uppercase;
    vertical-align: top;
    width: 100%;
}
	.field-group input, .field-group select, .field-group textarea {
	    background: transparent;
	    border: 0px;
	    font-size: 18px;
	    outline: none;
	}

	.field-group select {
	    background: url('../../images/icons/select.png') no-repeat right;
	    color: var(--color-dark-grey);
	    display: inline-block;
	    height: 27px;
	    margin-left: 5px;
	    padding: 0 2em 0 0;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    -ms-appearance: none;
	    -o-appearance: none;
	    appearance: none;
	}
    .field-group select.full {
        margin-left: 0px;
        width: 100%;
    }

select:focus {
	outline: none;
}

.button-container {
    text-align: right;
    margin: -10px 0 20px 0;
}

.submit-btn {
    @apply --greenButton;
    font-size: 21px;
    font-weight: 900;
    height: 70px;
    line-height: 70px;
    margin: 10px 0 0 0;
    padding: 0 100px;
}

.add-btn {
    @apply --greenButton;
    background: var(--color-light-green);
    font-size: 50px;
    font-weight: 900;
    height: 59px;
    line-height: 59px;
    margin: 0 0 0 0;
    padding: 0 0;
    width: 100%;
}

.group-list {
	background: #f4f4f4;
	border: #d6d6d6 1px dashed;
	border-radius: 15px;
	/*padding: 10px;*/
}
	.group-list li {
		display: inline-block;
		margin: 15px;
	}
	.group-list a {
		color: var(--color-dark-grey);
	}

/*select.full {
	background-color: var(--color-white);
	border-color: #dfdfdf;
	height: 58px;
	line-height: 58px;
	width: 100%;
	text-transform: uppercase;
}*/
