@import '../common/colors.css';
@import '../settings.css';
@import'../common/layout.css';
@import '../common/button.css';

.places {
    background: url('../../images/bg/concept@2x.jpg') no-repeat;
    background-size: cover;
    padding-top: var(--header-mobile-height);
    @media (min-width: 992px) {
        background: url('images/bg/admin-header.jpg') no-repeat 0 -40px;
        background-size: 100%;
        padding-top: var(--header-height);
    }
}

.place-container {
    background: url('../../images/carousel/bar-2.jpg') no-repeat top;
    width: 100%;
    /*margin-top: 8px;*/
}
    .place-container .filters {
        margin: 0 auto;
        padding: 30px 0;
        width: 100%;
        text-align: center;
        @media (min-width: 992px) {
            padding: 70px 0;
            width: 850px;
        }
    }
    .place-container .place-list {
        background-color: #fff;
    }

.place-detail {
    background: #fff url('../../images/bg/bg-place-concept@2x.jpg') no-repeat top;
    background-size: cover;
    padding-top: 20px;

    @media (min-width: 992px) {
        background: #fff url('../../images/bg/place.jpg') no-repeat top;
        padding-top: 0;
    }
}
    .place-detail .place-content {
        padding: 0 15px;
        margin: 0 auto;
        width: 100%;
    }

    .place-detail .place-info,
    .place-detail .weekdays {
        background: var(--color-dark-grey);
        border-bottom: #8fc03f 1px solid;
        border-top: #e4e4e4 1px solid;
        color: var(--color-white);
        display: flex;
        font-size: 15px;
        min-height: 100px;
        padding: 30px 15px;
        position: relative;
        vertical-align: top;
    }

    .place-detail .ownership {
        background: var(--color-green);
        border-bottom: #8fc03f 1px solid;
        border-top: #e4e4e4 1px solid;
        color: var(--color-white);
        display: block;
        font-size: 15px;
        min-height: 100px;
        padding: 30px 15px;
        position: relative;
        vertical-align: top;
    }
    @media (min-width: 992px) {
        .place-detail .place-content {
            padding: 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#98b1cc+0,f8f8f8+100 */
            background: rgb(152,177,204); /* Old browsers */
            background: -moz-linear-gradient(top,  rgba(152,177,204,1) 0%, rgba(248,248,248,1) 30%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(152,177,204,1) 0%,rgba(248,248,248,1) 30%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(152,177,204,1) 0%,rgba(248,248,248,1) 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b1cc', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
        }
        .place-detail .place-container {
            background: #e4e4e4;
            border-radius: 0 0 30px 30px;
            margin: 0 auto;
            padding: 40px 20px 20px 20px;
            width: 960px;
        }
        .place-detail .place-info,
        .place-detail .weekdays,
        .place-detail .ownership {
            display: inline-block;
            font-size: 18px;
            margin-bottom: 20px;
            width: 48%;
        }
        .place-detail .place-info {
            margin-right: 4%;
        }
    }
    .place-detail .icon {
        display: inline-block;
        /*margin-right: 15px;*/
        vertical-align: top;
    }
    .place-detail .place-info .icon {
        width: 20%;
    }
        .place-detail .icon img {
            width: 50%;
        }
    .place-detail .place-info {
        min-height: 100px;
    }
    .place-detail address {
        display: inline-block;
        width: 80%;
    }
    @media (min-width: 992px) {
        .place-detail .place-info {
            height: 100px;
        }
        .place-detail .place-info .icon {
            width: 11%;
        }
        .place-detail address {
            width: 89%;
        }
    }
    .place-detail .weekdays-content {
        display: inline-block;
    }
    .place-detail .ownership a {
        color: var(--color-white);
        font-size: 17px;
        font-weight: 900;
    }
    .place-detail .btn-maps {
        background-color: var(--color-green);
        border: 0px;
        color: var(--color-dark-grey);
        font-size: 19px;
        font-weight: 400;
        height: 90px;
        line-height: 20px;
        padding: 0 15px;
        position: absolute;
        right: -10px;
        text-transform: uppercase;
        top: 5px;
    }
        .place-detail .btn-maps strong {
            font-size: 17px;
            font-weight: 900;
        }
    .place-detail .contact,
    .place-detail .services,
    .place-detail .payment,
    .place-detail .about {
        background-color: #e4e4e4;
        display: block;
        margin: 0px;
        overflow: hidden;
        padding: 0 15px;
        width: 100%;
    }
        .place-detail .contact:before,
        .place-detail .contact:after,
        .place-detail .services:before,
        .place-detail .services:after,
        .place-detail .payment:before,
        .place-detail .payment:after,
        .place-detail .about:before,
        .place-detail .about:after {
            content: " ";
            display: table;
        }
        .place-detail .contact:after,
        .place-detail .services:after,
        .place-detail .payment:after,
        .place-detail .about:after {
            clear: both;
        }
    .place-detail .phone {
        font-size: 30px;
        font-weight: 400;
        margin-top: 20px;
        text-align: center;
    }
        .place-detail .phone a {
            color: var(--color-dark-grey);
        }
    .place-detail .website {
        color: var(--color-dark-grey);
        font-size: 18px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
    }
    @media (min-width: 992px) {
        .contact {
            margin-bottom: 20px;
        }
        .contact li {
            display: inline-block;
            width: 50%;
        }
        .website {
            font-size: 30px;
        }
    }
    .place-detail .about {
        /*border-radius: 0 0 15px 15px;*/
        display: block;
        /*margin-bottom: 20px;*/
        position: relative;
    }
    .place-detail .services, .payment {

    }
        .place-detail .services h3,
        .payment h3 {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 15px;
        }
            .place-detail .services h3 strong,
            .payment h3 strong {
                font-weight: 900;
            }
        .place-detail .services li,
        .payment li {
            display: inline-block;
            margin-bottom: 10px;
            padding: 0 5px;
            width: 20%;
        }
        .place-detail .services img,
        .payment img {
            width: 100%;
        }
    @media (min-width: 992px) {
        .place-detail .services,
        .place-detail .payment,
        .place-detail .about {
            position: relative;
        }
            .place-detail .services h3,
            .place-detail .payment h3,
            .place-detail .about h3 {
                font-size: 36px;
                margin-bottom: 40px;
                margin-top: 40px;
                text-align: center;
            }
            .place-detail .services ul,
            .place-detail .payment ul,
            .place-detail .about ul {
                display: inline-block;
                left: 50%;
                position: relative;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            .place-detail .services li,
            .place-detail .payment li,
            .place-detail .about li {
                display: inline-block;
                margin-bottom: 10px;
                padding: 0 5px;
                width: 70px;
            }
    }
    .place-detail .cnpj {
        text-align: center;
    }
    .place-detail .networks {
        display: inline-block;
        left: 50%;
        margin: 10px 0 30px 0;
        position: relative;
        width: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .place-detail .networks li {
        display: inline-block;
        margin: 0 3px;
    }
    .place-detail .networks img {
        height: 25px;
    }

.place-header {
    border-radius: 15px 15px 0px 0px;
    box-sizing: border-box;
    display: block;
    margin: var(--header-height) 15px 0 15px;
    max-height: 530px;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
    @media (min-width: 992px) {
        border-radius: 0px 0px 0px 0px;
        margin: var(--header-height) 0px 0 0px;
        max-height: 500px;
        padding: 0px;
    }
}
    .place-header:after {
        bottom: 0px;
        height: 100px;
        content: '';
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .place-header .cover {
        background: #000;
        border-radius: 15px 15px 0 0;
        height: 270px;
        display: block;
        position: relative;
        overflow: hidden;
    }
        .place-header .cover img {
            display: none;
            @media (min-width: 992px) {
                border-radius: 0px 0px 0px 0px;
            }
        }
    .place-header .place-description {
        bottom: 0px;
        box-sizing: border-box;
        padding: 10px;
        position: absolute;
        width: 100%;
        vertical-align: top;
        z-index: 2;
    }
    .place-header .logo-container,
    .place-header .name,
    .place-header .networks {
        display: inline-block;
        vertical-align: top;
    }
    .place-header .gallery-btn {
      bottom: 40px;
      color: var(--color-white);
      font-size: 0px;
      height: 30px;
      line-height: 0px;
      overflow: hidden;
      position: absolute;
      right: 10px;
      text-indent: 100%;
      text-transform: uppercase;
      top: auto;
      vertical-align: top;
      width: 40px;
      @media (min-width: 992px) {
        bottom: 60px;
      }
    }
      .place-header .gallery-btn:before {
        background: url('../../images/icons/gallery.png') no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 30px;
        margin-right: 5px;
        width: 40px;
        vertical-align: top;
      }
    .place-header .logo-container {
        background: var(--color-white);
        border-radius: 70px;
        height: 70px;
        overflow: hidden;
        width: 70px;
    }
        .place-header .logo-container img {
            left: 50%;
            position: relative;
            width: 100%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    .place-header .name {
        color: var(--color-white);
        font-size: 15px;
        font-weight: 600;
        padding-left: 6px;
        width: 45%;
    }
    .place-header .place-networks {
        bottom: 20px;
        /*float: right;*/
        left: auto;
        margin: 0px;
        position: absolute;
        right: 15px;
        top: auto;
        width: auto;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
    .place-header .place-networks li {
        display: inline-block;
        margin: 0 3px;
    }
    .place-header .place-networks img {
        height: 15px;
    }
    @media (min-width: 992px) {
        .place-header .cover {
            border-radius: 0px 0px 0 0;
            height: 500px;
            overflow: hidden;
        }
        .place-header .place-description {
            bottom: 30px;
            box-sizing: border-box;
            left: 50%;
            padding: 10px;
            position: absolute;
            width: 820px;
            z-index: 2;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        .place-header .logo-container {
            height: 140px;
            width: 140px;
        }
        .place-header .name {
            font-size: 24px;
            font-weight: 300;
            padding-left: 20px;
        }
        .place-header .place-networks li {
            margin: 0 6px;
        }
        .place-header .place-networks img {
            height: 25px;
        }
    }

.oficial {
    color: var(--color-white);
    right: 15px;
    position: absolute;
    top: 0px;
    z-index: 10;
    @media (min-width: 992px) {
      right: 0px;
    }
}
    .oficial .oficial-logo {
        border-radius: 40px;
        height: 40px;
        left: 50%;
        position: absolute;
        width: 40px;
        top: 5px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 2;
    }
    .oficial figure {
        border: var(--color-white) 3px solid;
        border-radius: 36px;
        height: 36px;
        left: 50%;
        position: absolute;
        width: 36px;
        top: 2px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .oficial img {
        width: 100%;
    }
    .oficial .oficial-text {
        font-size: 12px;
        font-weight: 900;
        line-height: 16px;
        margin-top: 40%;
        padding-left: 6px;
        padding-right: 55px;
        position: relative;
        text-transform: uppercase;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        z-index: 1;
    }

.group-buttons {
    box-sizing: border-box;
    margin: 0;
    min-height: 100px;
    padding: 20px 15px;
    width: 100%;
    @media (min-width: 992px) {
        margin: 0 auto;
        width: 970px;
    }
}

.top-button {
    @apply --greenButton;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    float: left;
    line-height: 18px;
    padding: 15px 0;
    text-transform: uppercase;
    width: 48%;
    @media (min-width: 992px) {
        font-size: 17px;
    }
}
    .top-button strong {
        font-size: 16px;
        font-weight: 700;
    }
    .top-button:first-child {
        margin-right: 2%;
    }
    .top-button:last-child {
        margin-left: 2%;
    }

.place {
    display: inline-block;
    /*float: left;*/
    margin: 0 2%;
    vertical-align: top;
    @media (min-width: 992px) {
        margin: 0 2% 30px 2%;
    }
}
    .place .rounded {
        border-radius: 90px;
        height: 90px;
        margin: 0 auto 5px auto;
        width: 90px;
        overflow: hidden;
    }
    .place img {
        width: 100%;
    }
    .place span {
        color: var(--color-dark-grey);
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        text-align: center;
        width: 100%;
    }
    @media (min-width: 992px) {
        .place span {
            font-size: 16px;
        }
    }

.place-confirmed {
    margin: 0 2% 0;
}
    .place-confirmed figure {
        background-color: var(--color-white);
        border: 5px solid var(--color-light-green);
        border-radius: 90px;
    }
    .place-confirmed:after {
        background: url('../../images/icons/confirmed-green.png') no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 16px;
        margin: 10px auto 0;
        width: 15px;
    }
    @media (min-width: 992px) {
        .place-confirmed:after {
            background: url('../../images/icons/confirmed-green.png') no-repeat;
            background-size: contain;
            height: 20px;
            width: 20px;
        }
    }