@import '../common/colors.css';
@import  '../common/button.css';
@import '../common/typography.css';

.owner-manage-games {
    background-color: var(--color-green);
    padding: 75px 0 50px;
}

.post-success {
    background: url("../../images/icons/download.png") no-repeat top right;
    margin: 70px auto;
    max-width: 950px;
    padding-top: 60px;
    position: relative;
    width: 90%;
}
    .post-success h2 {
        color: var(--color-white);
        font-size: 48px;
        font-weight: 900;
        text-transform: uppercase;
        width: 60%;
    }
    .post-success p {
        color: var(--color-white);
        font-size: 28px;
        font-weight: 400;
    }
    .post-success a {
        color: var(--color-white);
        font-size: 28px;
        font-weight: 700;
        text-decoration: underline;
    }
    .post-success .actions {
        width: 100%;
        max-width: 500px;
    }
    .post-success img {
        margin-bottom: 10px;
        margin-right: 15px;
    }
    .post-success .post-image {
        display: flex;
        margin: 20px 0;
    }

.post-edit {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto 0;
    max-width: 950px;
    width: 90%;
}
    .preview-post {
        background-color: #000;
        border-radius: 20px;
        display: block;
        height: 520px;
        margin-bottom: 10px;
        overflow: hidden;
        width: 100%;
    }
    /* BG */
    .preview-post .bg {
        bottom: 0px;
        height: 100%;
        left: 0px;
        right: 0px;
        /* opacity: 0.7; */
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 1;
    }
    @media (min-width: 992px) {
        .post-edit {
            margin: 50px auto 0;
        }
        .preview-post {
            margin-bottom: 0px;
            margin-right: 20px;
            position: sticky;
            top: 100px;
            width: 520px;
        }
    }

    /* LOGO BOTECO */
    .preview-post .boteco-logo {
        bottom: 20px;
        left: 20px;
        position: absolute;
        width: 150px;
        z-index: 2;
    }
    .preview-post .boteco-logo img {
        width: 100%;
    }

    /* PLACE LOGO */
    .preview-post .place-logo {
        border-radius: 100%;
        position: absolute;
        z-index: 5;
        bottom: 20px;
        right: 20px;
        height: 100px;
        overflow: hidden;
        width: 100px;
    }
    .preview-post .place-logo img {
        width: 100%;
    }

    .preview-post .figure {
        width: 70px;
        position: absolute;
        z-index: 5;
        left: 20px;
        bottom: 50px;
    }

    .preview-post .figure img {
        width: 100%;
    }


    /* SELECTED GAMES */
    .preview-post .selected-games {
        position: absolute;
        text-align: left;
        z-index: 4;
    }
    .template-one .selected-games {
        right: 20px;
        top: 100px;
        width: 50%;
        text-align: right;
    }
    .template-two .selected-games {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        left: 15%;
        top: 90px;
        width: 70%;
    }
    .template-three .selected-games {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        left: 15%;
        top: 75px;
        width: 70%;
    }
    .template-four .selected-games {
        display: flex;
        flex-wrap: wrap;
        left: 2%;
        top: 85px;
        width: 96%;
    }
    .template-four .selected-games > div {
        /* background-color: rgba(255, 255, 255, 0.7); */
        /* border-radius: 10px; */
        margin: 0 5% 30px;
        /* padding: 20px 20px 10px; */
        width: 40%;
    }

    .template-two .game-item,
    .template-three .game-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .template-two .game-item {
        margin-bottom: 60px;
    }
    .template-three .game-item {
        margin-bottom: 40px;
    }

    .template-two .game-date-time,
    .template-three .game-date-time {
        margin: 5px 0 0 0;
        width: 50%;
        text-align: right;
    }

    .selected-games .game-date {
        margin-top: 5px;
    }
    .selected-games .game-championship {
        color: var(--color-white);
        display: inline;
        padding: 2px;
        text-align: left;
        text-transform: uppercase;
    }
    .selected-games .game-date,
    .selected-games .game-time {
        color: var(--color-white);
        display: block;
        font-weight: 900;
    }
    .template-one .game-championship {
        font-size: 25px;
        line-height: 28px;
    }
    .template-one .game-date,
    .template-one .game-time {
        font-size: 40px;
        line-height: 40px;
        text-align: right;
    }
    @media (min-width: 992px) {
        .template-one .game-date,
        .template-one .game-time {
            font-size: 50px;
            line-height: 50px;
        }
    }

    .template-two .game-championship {
        font-size: 20px;
        left: 0px;
        line-height: 18px;
        position: absolute;
        top: 75px;
        width: 182px;
        text-align: center;
    }
    .template-two .game-date,
    .template-two .game-time {
        font-size: 16px;
        line-height: 16px;
    }
    @media (min-width: 992px) {
        .template-two .game-date,
        .template-two .game-time {
            font-size: 32px;
            line-height: 32px;
        }
    }

    .template-three .game-championship {
        font-size: 20px;
        left: 0px;
        line-height: 18px;
        position: absolute;
        top: 75px;
        width: 182px;
        text-align: center;
    }
    .template-three .game-date,
    .template-three .game-time {
        font-size: 16px;
        line-height: 16px;
    }
    @media (min-width: 992px) {
        .template-three .game-date,
        .template-three .game-time {
            font-size: 32px;
            line-height: 32px;
        }
    }

    .template-four .game-championship {
        display: none;
    }
    .template-four .game-date,
    .template-four .game-time {
        color: var(--color-white);
        font-size: 30px;
        line-height: 28px;
    }
    @media (min-width: 992px) {
        .template-four .game-date,
        .template-four .game-time {
            color: var(--color-white);
        }
    }

    .preview-post .post-text {
        height: 40px;
        left: 5%;
        width: 90%;
        text-align: center;
        top: 10px;
        position: absolute;
        z-index: 3;
    }
    .preview-post .post-text.post-text-transmissao {
        background: url('../../images/post/titles/transmissao-ao-vivo.png') no-repeat center;
        background-size: contain;
    }
    .preview-post .post-text.post-text-transmissao-audio {
        background: url('../../images/post/titles/transmissao-ao-vivo-audio.png') no-repeat center;
        background-size: contain;
    }
    .preview-post .post-text.post-text-transmissao-telao {
        background: url('../../images/post/titles/transmissao-ao-vivo-telao.png') no-repeat center;
        background-size: contain;
    }

.custom-post {
    display: block;
    flex: 1;
    height: 100%;
}

.custom-post ol {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.custom-post li.post-step {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
}

.custom-post .post-step h2 {
    align-items: center;
    color: var(--color-dark-grey);
    display: flex;
    align-content: center;
    font-family: var(--sourcesanspro);
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 15px;
}
    .custom-post .post-step h2 .bullet {
        background-color: var(--color-white);
        border-radius: 20px;
        color: var(--color-dark-grey);
        display: block;
        height: 40px;
        font-family: var(--sourcesanspro);
        font-size: 30px;
        font-weight: 900;
        line-height: 36px;
        margin-right: 10px;
        text-align: center;
        width: 40px;
    }
    .custom-post .post-step .note {
        color: var(--color-white);
        display: block;
        font-family: var(--sourcesanspro);
        font-size: 16px;
        font-weight: 400;
        margin-left: 50px;
        margin-top: -25px;
    }

.custom-post .post-step h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 30px;
    text-align: center;
}

.images-container {
    background-color: #fff;
    display: block;
    overflow: auto;
    padding: 20px 20px;
    width: 100%;
}

.image-button {
    background: transparent;
    border: 0px;
    display: inline-block;
    height: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
    padding: 0px;
    width: 23%;
}
    .image-button:nth-child(4n+4) {
        margin-right: 0px;
    }
    .image-button img {
        width: 100%;
    }
    .image-button.selected {
        border: 5px solid #000;
    }
    .image-button.selected img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

.custom-post .post-inserir {
    background: var(--color-green) ;
    border: 0px;
    border-radius: 4px;
    color: var(--color-white);
    display: flex;
    font-size: 20px;
    font-weight: 900;
    margin: 20px auto 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

    .custom-post .post-inserir:hover {
        background: var(--color-dark-green) ;
    }

    .custom-post .post-inserir .post-inserir-icon {
        background: url('../../images/icons/upload-white.png') no-repeat center;
        height: 32px;
        display: block;
        margin: 0 15px 0 5px;
        width: 32px;
    }

.custom-post .post-transmissao {
    margin-left: 20px;
}

.post-radio {
    margin-bottom: 10px;
}

.post-radio label{
    color: var(--color-white);
    font-family: var(--sourcesanspro);
    font-size: 18px;
    font-weight: 900;
    margin-top: 0;
    text-transform: uppercase;
}

.post-radio input[type="radio"] {
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin: 0 10px 0 0;
    opacity: 0;
    position: relative;
    vertical-align: top;
    width: 23px;
    z-index: 2;
}

.post-radio input[type="radio"] + label:before {
    background-color: var(--color-white);
    border-radius: 5px;
    content: '';
    display: inline-block;
    height: 23px;
    left: 0;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 23px;
    z-index: 1;
}

.post-radio input[type=radio]:checked + label:after {
    background: url('../../images/icons/checkbox-checked.png') no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 20px;
    left: 1px;
    position: absolute;
    top: 4px;
    width: 20px;
    z-index: 2;
}
    @media (min-width: 992px) {
        .post-radio label{
            color: var(--color-white);
            font-family: var(--sourcesanspro);
            font-size: 18px;
            font-weight: 900;
            margin-top: 10px;
            text-transform: uppercase;
        }
        .post-radio input[type="radio"] {
            height: 46px;
            width: 46px;
        }

        .post-radio input[type="radio"] + label:before {
            border-radius: 10px;
            height: 46px;
            width: 46px;
        }

        .post-radio input[type=radio]:checked + label:after {
            height: 26px;
            left: 5px;
            top: 10px;
            width: 34px;
        }
    }

.dropzone {
    border: 1px dashed var(--color-grey);
    height: 300px;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    width: 100%;
    text-align: center;
}

.empty-dropzone {
    position: absolute;
    margin-left: 10%;
    top: 50%;
    width: 80%;
    text-align: center;
    transform: translateY(-50%);
}

.dropzone-preview {
    position: relative;
}
    .dropzone-preview img {
        max-width: 100%;
        max-height: 310px;
    }
    .dropzone-preview .upload-wait {
        background: var(--color-white);
        border-radius: 5px;
        padding: 5px 10px;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .dropzone-preview .upload-error {
        background-color: #000;
        color: var(--color-white);
        border-radius: 5px;
        padding: 5px 10px;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

.actions {
    margin-top: 20px;
}

.post-loading {
    display: block;
    position: absolute;
    top: 15px;
    right: 70px;
    width: 80px;
}
    .post-loading img {
        width: 100%;
    }

.btn-secondary {
    background-color: var(--color-green);
    border: #fff 1px solid;
    border-radius: 10px;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    margin-right: 6%;
    padding: 19px 0;
    text-transform: uppercase;
    width: 47%;
}
.btn-secondary:hover {
    color: var(--color-grey);
}

.btn-primary {
    background-color: #f24556;
    border: #f24556 1px solid;
    color: var(--color-white);
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    padding: 19px 0;
    text-transform: uppercase;
    width: 47%;
}
.btn-primary:hover {
    color: var(--color-dark-grey);
}
.btn-primary:disabled {
    opacity: 0.5;
}

.btn-terciary {
    background-color: var(--color-white);
    border: var(--color-green) 1px solid;
    border-radius: 10px;
    color: var(--color-green);
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0;
    width: 47%;
}
.btn-terciary:hover {
    color: var(--color-green);
}

.figures-container {
    background-color: #85a647;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 20px 20px;
    width: 100%;
}
    .figures-container .figures-container-item {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 10px 10px 50px;
        width: 33%;
    }

    .figures-container .figures-container-item:hover,
    .figures-container .figures-container-item.checked {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .figures-container .figures-container-item:before {
        background-color: var(--color-white);
        border-radius: 5px;
        bottom: 20px;
        content: '';
        display: inline-block;
        height: 23px;
        left: 50%;
        position: absolute;
        vertical-align: top;
        width: 23px;
        z-index: 1;
        transform: translateX(-50%);
    }

    .figures-container .figures-container-item.checked:after {
        background: url('../../images/icons/checkbox-checked.png') no-repeat;
        background-size: contain;
        bottom: 20px;
        content: '';
        display: block;
        height: 20px;
        left: 50%;
        position: absolute;
        width: 20px;
        z-index: 2;
        transform: translateX(-50%);
    }

    .figures-container .figures-container-item-empty {
        color: var(--color-white);
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
    }

    .figures-container .figures-container-item img {
        width: 100%;
    }
    @media (min-width: 992px) {
        .figures-container .figures-container-item {
            padding: 10px 10px 86px;
        }

        .figures-container .figures-container-item:before {
            border-radius: 10px;
            height: 46px;
            width: 46px;
        }

        .figures-container .figures-container-item.checked:after {
            bottom: 30px;
            height: 26px;
            width: 34px;
        }
    }