@import '../settings.css';
@import '../common/button.css';
@import '../common/colors.css';
@import '../common/typography.css';

.modal-promo {
	background: rgba(0, 0, 0, 0.7);
	bottom: 0px;
	display: block;
	height: 100%;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 100vw;
	z-index: 1059;
}
	.modal-promo footer {
		text-align: center;
	}

.promo-content {
	background: var(--color-light-green);
	border-radius: 15px;
	bottom: 80px;
	left: 50%;
	max-width: 500px;
	padding: 30px;
	position: absolute;
	text-align: center;
	width: 90%;
	-webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
	.promo-content:after {
		background: url('../../images/icons/modal-promo.png') no-repeat;
		background-size: contain;
		bottom: -73px;
		content: '';
		display: inline-block;
		height: 73px;
		left: 50%;
		position: absolute;
		width: 50px;
		-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	}

.promo-title {
	color: var(--color-dark-blue);
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}
	.promo-title strong {
		font-weight: 700;
	}

.promo-title-white {
	color: var(--color-white);
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 15px 0;
	text-transform: uppercase;
	line-height: 20px;
	letter-spacing: -1px;
}
	.promo-title-white strong {
		font-weight: 700;
	}

.futebol-text {
	color: #384262;
	font-size: 16px;
	text-transform: none;
	padding-bottom: 10px;
	line-height: 18px;
}


.promo-body {
	color: var(--color-white);
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
}
	.promo-body ol {
		margin: 0px;
		padding: 0px;
	}
	.promo-body li {
		line-height: 18px;
		margin: 0 0 10px 0;
		padding: 0px;
	}
	.promo-body strong {
		font-weight: 700;
	}
	.promo-body a {
		color: var(--color-white);
		font-weight: 700;
	}

.cadastrar-button {
	background: url('../../images/buttons/cadastrar.png') no-repeat;
	background-size: contain;
	display: inline-block;
	height: 40px;
	font-size: 0px;
	line-height: 0px;
	margin-top: 10px;
	overflow: hidden;
	text-align: center;
	text-indent: 100%;
	width: 148px;
}

.ingressos-button {
	border: #fff 2px solid;
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	border-radius: 23px;
	padding: 7px 15px;
	text-transform: uppercase;
}

.close {
	background: url('../../images/buttons/bt-close.png') no-repeat;
	background-size: contain;
	border: 0px;
	color: var(--color-dark-blue);
	font-size: 60px;
	height: 20px;
	padding: 0px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
}