@import '../common/colors.css';
@import '../common/button.css';

.promotions {
    background: url('../../images/bg/promotions.png') no-repeat center top;
    background-size: cover;
    display: block;
    height: 499px;
    position: relative;
    width: 100%;
}
    .promotions .promotions-wrapper {
        margin: 0 auto;
        text-align: right;
        width: 960px;
    }
    .promotions p {
        padding-top: 60px;
    }
        .promotions p small {
            color: var(--color-green);
            font-size: 30px;
            font-weight: 300;
            margin-right: 50px;
        }
        .promotions p strong {
            color: var(--color-green);
            font-size: 23px;
            font-weight: 900;
        }
.register-btn {
    @apply --greenButton;
    font-size: 20px;
    font-weight: 400;
    height: 75px;
    line-height: 75px;
    margin: 185px 10px 0 0;
    padding: 0 95px;
}
    .register-btn strong {
        color: #fff;
        font-weight: 900;
    }