@import '../common/colors.css';

.tabs {
    /*background: #fff;*/
    display: table;
    padding-top: 10px;
    width: 100%;
}

.tabs-list {
    border: 0px !important;
    display: table;
    float: left;
    width: 100%;
    @media (min-width: 992px) {
        left: 50%;
        position: relative;
        width: 960px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.tabpanel {
    float: left;
    width: 100%;
    @media (min-width: 992px) {
        margin-top: 30px;
    }
}

.tab {
    background: transparent !important;
    border: 0px !important;
    color: var(--color-dark-grey);
    display: table-cell;
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0 !important;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    @media (min-width: 992px) {
        font-size: 15px;
        &:before {
            border-radius: 88px;
            height: 88px;
            width: 88px;
        }
    }
}
    .tab > span {
        display: block;
        line-height: 15px;
        margin-top: 3px;
        padding: 0 5px;
    }
    .tab:before {
        border: var(--color-dark-grey) 1px solid;
        border-radius: 72px;
        content: '';
        display: block;
        height: 72px;
        margin: 0 auto 5px auto;
        width: 72px;
    }
    .tab.tablist-championships:before {
        background: var(--color-white) url('../../images/icons/championships-tab.png') no-repeat center;
        background-size: 50%;
    }
    .tab.tablist-championships[aria-selected=true]:before {
        background: var(--color-dark-grey) url('../../images/icons/championships-tab-active.png') no-repeat center;
        background-size: 50%;
    }

    .tab.tablist-favorite:before {
        background: var(--color-white) url('../../images/icons/favorite-tab.png') no-repeat center;
        background-size: 50%;
    }
    .tab.tablist-favorite[aria-selected=true]:before, .tab.tablist-favorite.favorite:before {
        background: var(--color-white) url('../../images/icons/favorite-tab-active.png') no-repeat center;
        background-size: 50%;
    }

    .tab.tablist-games:before {
        background: var(--color-white) url('../../images/icons/games-tab.png') no-repeat center;
        background-size: 50%;
    }
    .tab.tablist-games[aria-selected=true]:before {
        background: var(--color-dark-grey) url('../../images/icons/games-tab-active.png') no-repeat center;
        background-size: 50%;
    }

    .tab.tablist-oficial:before {
        background: var(--color-white) url('../../images/icons/oficial-tab.png') no-repeat center;
        background-size: 50%;
    }
    .tab.tablist-oficial[aria-selected=true]:before {
        background: var(--color-dark-grey) url('../../images/icons/oficial-tab-active.png') no-repeat center;
        background-size: 50%;
    }

    .tab.tablist-places:before {
        background: var(--color-white) url('../../images/icons/places-tab.png') no-repeat center;
        background-size: 50%;
    }
    .tab.tablist-places[aria-selected=true]:before {
        background: var(--color-dark-grey) url('../../images/icons/places-tab-active.png') no-repeat center;
        background-size: 50%;
    }

    .tab.tablist-teams:before {
        background: var(--color-white) url('../../images/icons/teams-tab.png') no-repeat center;
        background-size: 50%;
    }
    .tab.tablist-teams[aria-selected=true]:before {
        background: var(--color-dark-grey) url('../../images/icons/teams-tab-active.png') no-repeat center;
        background-size: 50%;
    }

.tablist-favorite {
    cursor: pointer;
}

.four-tabs {
    padding: 0 2% !important;
}
    .four-tabs .tab {
        width: 25%;
    }

.three-tabs {
    padding: 0 12% !important;
}
    .three-tabs .tab {
        width: 33%;
    }

.two-tabs {
    padding: 0 25% !important;
}
    .two-tabs .tab {
        width: 50%;
    }

.favorite-messsage {
    font-size: 18px;
    font-weight: 300;
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
}

.tab-button {
    display: inline-block;
}
    .tab-button a {
        color: var(--color-dark-grey);
    }

.btn-more {
    background: var(--color-dark-grey);
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 50px 0;
    padding: 25px 36px;
    text-transform: uppercase;
}