@import '../common/typography.css';
@import '../common/colors.css';
@import '../settings.css';

.teams {
	background: url('../../images/bg/teams@2x.jpg') no-repeat;
	background-size: 100%;
	padding-top: var(--header-height);
}
@media (min-width: 992px) {
	.teams {
		background: url('../../images/bg/teams.jpg') no-repeat;
		background-size: 100%;
	}
}

.team-item {
	display: inline-block;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 40%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
	.team-item:first-child {
		left: 0px;
	}
	.team-item:last-child {
		right: 0px;
	}
	.team-item img {
		width: 40px;
	}
	.team-item span {
		display: none;
	}

.team {
	background: var(--color-white);
	min-height: 1000px;
	width: 100%;
}
	.team .team-content {
		padding-top: var(--header-height);
		position: relative;
		z-index: 2;
	}
	.team .team-logo-lg {
		border-radius: 100px;
		display: block;
		margin: 25px 0 25px 25%;
		/*padding: 20px 0;*/
		position: relative;
		text-align: center;
		width: 50%;
	}
	@media (min-width: 992px) {
		.team .team-logo-lg {
			margin: 50px auto 60px;
			width: 340px;
		}
	}
		.team .team-logo-lg:before {
			content: "";
			display: block;
			padding-top: 100%;
		}
		.team .team-logo-lg img {
			bottom: 0px;
			width: 100%;
			left: 0px;
			position: absolute;
			right: 0px;
			top: 0px;
		}
	.team .team-name {
		border-radius: 15px 15px 0 0;
		display: block;
		margin-left: 2.5%;
		padding: 30px 10px;
		position: relative;
		overflow: hidden;
		width: 95%;
		text-align: center;
	}
	@media (min-width: 992px) {
		.team .team-name {
			border-radius: 0px 0px 0 0;
			margin-left: 0px;
			width: 100%;
		}
	}
		.team .team-name:before {
			background: url('../../images/bg/home-teams-carousel.jpg') no-repeat;
			background-size: cover;
			bottom: 0px;
			content: '';
			display: block;
			height: 100%;
			left: 0px;
			position: absolute;
			opacity: 0.95;
			right: 0px;
			width: 100%;
			z-index: 1;
		}
		.team .team-name h1 {
			color: var(--color-white);
			font-size: 24px;
			font-style: italic;
			font-weight: 500;
			position: relative;
			z-index: 2;
		}
		@media (min-width: 992px) {
			.team .team-name h1 {
				font-size: 30px;
			}
		}
	.team .team-box {
		background-color: var(--color-white);
		border-radius: 0 0 15px 15px;
		padding: 30px 12px 35px 12px;
		margin-left: 2.5%;
		text-align: center;
		width: 95%;
	}
		.team .team-box .btn {
			background: var(--color-light-green);
			border: #cdd5d8 1px solid;
			border-radius: 10px;
			color: var(--color-white);
			padding: 15px 20px;
			text-align: center;
			text-transform: uppercase;
		}
	.team .team-bg {
		left: 0px;
		position: absolute;
		right: 0px;
		width: 100%;
		top: 0px;
		z-index: 1;
	}
		.team .team-bg img {
			opacity: 0;
			width: 100%;
		}

.game {
	padding-top: 20px;
	@media (min-width: 992px) {
		padding-top: 0;
	}
}

.game .game-box {
	background: url('../../images/bg/home-teams-carousel.jpg') no-repeat center top;
    background-size: 100%;
    border-radius: 10px 10px 0px 0px;
    margin: 90px 15px 0;
    overflow: hidden;
	/*padding-bottom: 40px;*/
}
@media (min-width: 992px) {
	.game .game-box {
		background: url('../../images/bg/home-box.jpg') no-repeat center top;
		background-size: 100%;
		border-radius: 0 0 0 0;
		margin: 0px;
		padding-bottom: 20px;
		padding-top: 100px;
	}
}

.game .filters {
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
@media (min-width: 992px) {
	.game .filters {
		width: 700px;
	}
}

.game .game-container {
	margin: 0;
	position: relative;
	width: 100%;
	z-index: 1;
}
@media (min-width: 992px) {
	.game .game-container {
		margin: 0 auto;
		width: 960px;
	}
}

.game-championship {
	color: #fff;
	font-size: 18px;
	margin: 20px 0 10px;
	text-align: center;
	text-transform: uppercase;
	
}
@media (min-width: 992px) {
	.game-championship {
		margin: 0 0 20px;
	}
}
	.game-championship i {
		margin-right: 5px;
	}

.game-carousel-item .team-item {
	height: 110px;
	vertical-align: top;
}
@media (min-width: 992px) {
	.game-carousel-item .team-item {
		height: auto;
	}
}

.game-carousel-item, .game-item {
	overflow: hidden;
	padding-top: 10px;
	width: 100%;
}
	.game-carousel-item .team-item, .game-item .team-item {
		margin-bottom: 20px;
		position: relative;
		width: 45%;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
		.game-carousel-item .team-item img, .game-item .team-item img {
			margin: 0 auto;
		}
	.game-carousel-item .team-versus, .game-item .team-versus {
		color: #fff;
		display: inline-block;
		font-family: var(--robotoslab);
		font-size: 40px;
		line-height: 80px;
		text-align: center;
		vertical-align: top;
		width: 10%;
	}
	.game-carousel-item a, .game-item a {
		color: #fff;
		font-size: 15px;
		font-weight: 700;
	}
		.game-carousel-item a:hover, .game-item a:hover {
			color: #fff;
		}
	.game-carousel-item img, .game-item img {
		margin-bottom: 5px;
		width: 50%;
	}

	@media (min-width: 440px) {
	  .game-carousel-item img,
	  .game-item img {
	    margin-bottom: 5px;
	    width: 20%;
	  }
	}
	@media (min-width: 992px) {
	  .game-carousel-item img, .game-item img {
			margin-bottom: 5px;
			width: 50%;
		}
	}

	.game-carousel-item span, .game-item span {
		display: block;
		line-height: 30px;
		width: 100%;
	}
	.game-carousel-item .game-date, .game-item .game-date {
		background-color: #242a31;
		color: #fff;
		display: block;
		font-size: 20px;
		font-weight: 300;
		height: 45px;
		line-height: 45px;
		/*margin-top: 25px;*/
		text-align: center;
		width: 100%;
	}
	@media (min-width: 992px) {
		.game-carousel-item a, .game-item a {
			font-size: 30px;
		}
		.game-carousel-item .team-item, .game-item .team-item {
			width: 35%;
		}
		.game-carousel-item .team-versus, .game-item .team-versus {
			font-size: 90px;
			line-height: 120px;
			width: 30%;
		}
		.game-carousel-item .game-date, .game-item .game-date {
			background-color: transparent;
			margin: 0px 0 5px 0;
		}
	}

.team-carousel-item {
	display: inline-block;
	text-align: center;
	width: 45%;
}

.tabs .game-item {
	background: transparent;
}
