@import '../common/colors.css';

.template {
    display: none;
    height: 262px;
    margin: 0 auto;
    width: 262px;
}
    @media (min-width: 992px) {
        .template {
            display: block;
            margin-left: 9px;
            margin-right: 9px;
        }
        .template:first-child {
            margin-left: 0px;
        }
        .template:last-child {
            margin-right: 0px;
        }
    }

.active-template {
    border: #fff 5px solid;
    border-radius: 25px;
    display: block;
}

.template-one {
    background: url('../../images/templates/template-1.png') no-repeat;
    background-size: 100%;
}
    .template-one .template-container {
        color: var(--color-white);
        margin: 65px 0 0 52%;
        width: 40%;
    }
    .template-one .game-date, .template-one .game-time {
        font-size: 28px;
        font-weight: 900;
        line-height: 30px;
        text-align: right;
    }
    .template-one .game-time {
        letter-spacing: 2px;
    }
    .template-one .game-championship {
        text-align: right;
        text-transform: uppercase;
    }

.template-two {
    background: url('../../images/templates/template-2.png') no-repeat;
    background-size: 100%;
}
    .template-two .template-container {
        color: var(--color-white);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 45px 0 0 22%;
        width: 55%;
    }
    .template-two .game-item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        width: 100%;
    }
    .template-two .game-date-time {
        margin: 5px 0 0 10%;
        width: 30%;
    }
    .template-two .game-date, .template-two .game-time {
        display: block;
        font-size: 14px;
        font-weight: 900;
        line-height: 14px;
        text-align: right;
        width: 100%;
    }
    .template-two .game-time {
        letter-spacing: 2px;
    }
    .template-two .game-championship {
        font-size: 14px;
        left: 0px;
        margin-top: 0px;
        text-align: left;
        text-transform: uppercase;
        position: absolute;
        top: 30px;
    }

.template-three {
    background: url('../../images/templates/template-3.png') no-repeat;
    background-size: 100%;
}
    .template-three .template-container {
        color: var(--color-white);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 35px 0 0 22%;
        width: 55%;
    }
    .template-three .game-item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        width: 100%;
    }
    .template-three .game-date-time {
        margin: 5px 0 0 10%;
        width: 30%;
    }
    .template-three .game-date, .template-three .game-time {
        display: block;
        font-size: 14px;
        font-weight: 900;
        line-height: 14px;
        text-align: right;
        width: 100%;
    }
    .template-three .game-time {
        letter-spacing: 2px;
    }
    .template-three .game-championship {
        font-size: 14px;
        left: 0px;
        margin-top: 0px;
        text-align: left;
        text-transform: uppercase;
        position: absolute;
        top: 30px;
    }

.template-four {
    background: url('../../images/templates/template-4.png') no-repeat;
    background-size: 100%;
}
    .template-four .template-container {
        color: var(--color-white);
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0 0 0;
        text-align: left;
        width: 100%;
    }
    .template-four .game-item {
        margin: 0 0 20px 0;
        padding: 0 15px 0 20px;
        width: 50%;
    }
    .template-four .game-item:last-child {
        margin-right: 0px;
    }
    .template-four .game-date, .template-four .game-time {
        font-size: 12px;
        font-weight: 900;
        line-height: 14px;
    }
    .template-four .game-date {
        margin-top: 5px;
    }
    .template-four .game-time {
        letter-spacing: 2px;
    }