@import '../settings.css';
@import '../common/colors.css';

.topic-item {
    display: flex;
    justify-content: space-between;
}

.topic {
    font-size: var(--font-medium);
}

.button {
    font-size: var(--font-medium);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    margin: 0 28px;
    color: var(--color-white);
}

